[2022-07-13 20:32] benelan commented on #3464
Thanks @alicewriteswrongs! Even without the typedef issue, our users may need to use something besides `dist/components/index` to get `setAssetsPath`, since otherwise it'd include all the components in the bundled output making it a lot bigger.

Would your team consider making the changes in https://github.com/ionic-team/stencil/commit/ff0e8cc54e5e68631cd83302d59b19f2626d43cb opt in or out? Maybe

[2022-07-13 23:42] jcfranco commented on #3437
We encountered this as well. In case it helps, [here's](https://github.com/jcfranco/stencil-hydrated-selector-not-applied-to-components-output) another repro case closer to our setup.

[2022-07-14 09:20] #3465 closed

[2022-07-14 13:47] deleonio opened #3471 "bug: Since v1.7.1 our tests doesn't work anymore [fix with PR #3472]"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-07-14 17:06] rschaufler commented on #1738
i wonder too how this issue was just closed without any explanation and apparently relying on a workaround provided by a third party solution. i can confirm that this is still an issue.

[2022-07-14 19:58] katiedeangelis opened #3473 "bug: lowercase for in htmlFor attribute doesn't work"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-07-15 10:15] alvarocjunq commented on #2284
Any update around this 2y discussion? :grin:

I saw some libs (like LitElement) already working with form association for some time ago:
https://css-tricks.com/creating-custom-form-controls-with-elementinternals/

For now, in my projects I **workaround** creating a simple input[type=hidden] when a parameter with the name `form -associated` is true like:

[code]

[code]

and updating the value when

[2022-07-15 13:52] alicewriteswrongs commented on #3471
Hi deleonio, thanks for filing this issue! Would you mind providing a reproduction for the issue you're seeing?

[2022-07-15 14:05] alicewriteswrongs commented on #3470
Hi @jcfranco, thanks for filing this issue! I'm going to mark this for further discussion and refinement so we can figure out what to do exactly.

[2022-07-15 14:23] alicewriteswrongs commented on #3473
Hi @katiedeangelis, thanks for filing this issue and for filing the related PR! I get the gist of what you're reporting here, but would you mind creating a simple reproduction repo that showcases this issue? Doing so will help us confirm what's going on and also evaluate your fix PR.

[2022-07-15 15:00] alicewriteswrongs commented on #3437
@jcfranco thanks for the additional reproduction, I'll mark this for further discussion and prioritization.

[2022-07-15 15:49] katiedeangelis commented on #3473
Hi Alice, thanks for reaching out. Unfortunately I ran across this bug will putting a Stencil POC together for use in our atomic design system where I work. We’ve decided not to move forward with Stencil, but thought I’d add and fix the bug while I was working on it. I don’t have time to spin up a new repo, so I understand if you decide not to move forward with the PR. Thanks!

[2022-07-18 14:35] eWert-Online commented on #3413
Hello 👋

I need this bug fixed for a client of ours. Is there any way to speed up the resolution of this?
Or can you alternatively give a rough estimate of how log it will take to get this fixed?

Thank you!

[2022-07-19 12:19] Scan0815 opened #3476 "bug: Bundling Warning SOURCEMAP_BROKEN if web-worker is used"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-07-19 21:16] alicewriteswrongs commented on #3464
@benelan a quick update — a [pre-release of stencil](https://github.com/ionic-team/stencil/releases/tag/v2.17.2-0) was [published to npm](https://www.npmjs.com/package/@stencil/core/v/2.17.2-0) today which includes the fix that we merged last week (#3468) for this issue. If you have the time to try it out do let us know if it fixes the issue for you!

[2022-07-19 23:33] benelan commented on #3464
Yup the issue is resolved in `v2.17.2-0`, thank you!

[2022-07-20 09:28] jasperbosch opened #3481 "bug: cli args parsing fails"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-07-20 14:20] jeripeierSBB opened #3482 "bug: broken support for yarn executing tests"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-07-20 14:23] alicewriteswrongs commented on #3481
hey @jasperbosch, thanks for filing this issue and for doing some code spelunking! You're right that this is an issue. I was just in this code recently so I'll fix it today.

[2022-07-20 14:53] alicewriteswrongs commented on #3471
I think this is the same issue as #3481

[2022-07-20 16:46] alicewriteswrongs commented on #3482
Hello @jeripeierSBB, thanks for filing this issue! I was just able to validate that this is occurring. It look to be an issue specific to yarn, since in your reproduction case I am able to run the `test:dev` script with no problems w/ `npm` (i.e. `npm run test:dev`).

In any case, I'm going to add this to the backlog and hopefully we'll have a fix soon for running scripts like these w/ `yarn`!

[2022-07-20 18:24] rwaskiewicz commented on #3476
Thanks @Scan0815! I can confirm that this bug is present. I'm going to label it to get it ingested into our backlog

[2022-07-20 18:37] jeripeierSBB commented on #3482
@alicewriteswrongs thanks for getting into this. I have to mention that with version 2.17.0 it worked, so this problem was newly introduced with version 2.17.1

[2022-07-20 18:39] alicewriteswrongs commented on #3482
That makes sense, this recent pr #3444 was [included in the 2.17.1 release](https://github.com/ionic-team/stencil/releases/tag/v2.17.1), so it makes sense that the behavior changed then.

[2022-07-20 18:41] alicewriteswrongs commented on #3482
If you're up for it, there's a bugfix PR up here: https://github.com/ionic-team/stencil/pull/3483

It will likely merge soon, but if you want to test it out to make sure it fixes your issue you could

- clone the repo locally
- check out [the branch](https://github.com/ionic-team/stencil/tree/ap/flag-parsing-bug)
- do `npm install`, `npm run build` and `npm pack`
- try installing the resulting `.t

[2022-07-20 19:07] alicewriteswrongs commented on #3481
Thanks for reporting this! Just to update you, there's a bugfix PR up here: https://github.com/ionic-team/stencil/pull/3483 which just merged into `main`.

If you want to test it out to make sure it fixes your issue you could

- clone the repo locally
- check out [the branch](https://github.com/ionic-team/stencil/tree/ap/flag-parsing-bug)
- do `npm install`, `npm run build` and `npm pack`
- try in

[2022-07-20 19:17] alicewriteswrongs commented on #3482
@jeripeierSBB would you mind providing some information about the version of yarn you're using, and how you had this working before upgrading to `@stencil/core@2.17.1`? I ask because in the reproduction repo that you provided I'm able to reproduce the issue with an earlier version of Stencil installed (`2.13.0` to be specific). I'm using yarn 1.22.18 for testing locally.

<img width="1030" alt="Sc

[2022-07-20 19:19] alicewriteswrongs commented on #3471
Thanks for reporting this! Just to update you, there's a bugfix PR up here: https://github.com/ionic-team/stencil/pull/3483 which just merged into `main`.

If you want to test it out to make sure it fixes your issue you could

- clone the repo locally
- check out [the branch](https://github.com/ionic-team/stencil/tree/ap/flag-parsing-bug)
- do `npm install`, `npm run build` and `npm pack`
- try in

[2022-07-21 00:02] Steakeye commented on #2928
I'm experiencing a similar issue, whereby the order of three children is 1, 3, 2 and it's not clear why; any update on this?

[2022-07-21 03:51] gikey commented on #1135
same problem, I try to set `bubbles: false`, but still doesn't work. Looking forward to your help @manucorporat

[2022-07-21 07:11] manojreddymettu-pro commented on #3482
Hi, This issue is happening with **NPM** as well.

Worked fine till `stencil/core:2.17.0` and after upgrading to `2.17.1` I see the below issue.

**Issue:**
[code]

[2022-07-21 14:16] alicewriteswrongs commented on #3482
@manojreddymettu-pro I believe that is a separate issue, see #3481 and #3471

[2022-07-22 20:42] alicewriteswrongs commented on #3482
@jeripeierSBB to update you, we merged a PR today (#3486) which I believe fixes the underlying issue you're running in to here.

If you want to test it out to make sure it fixes your issue you could:

- clone the repo locally
- do `npm install`, `npm run build` and `npm pack`
- try installing the resulting `.tgz` file in our project by doing `npm install ./path/to/stencil.tgz`

If you'd rather wai

[2022-07-23 04:49] deleonio commented on #2895
That's the point https://github.com/ionic-team/stencil/blob/cca8951e7ebf0432acb19286f7d59af61f9c5dc2/src/compiler/types/generate-component-types.ts#L14

[2022-07-24 11:36] jwillmer commented on #2673
@popcorn245 you made my day! Looked all over the internet for this.

[2022-07-25 13:39] jeripeierSBB commented on #3482
@alicewriteswrongs Thanks for all your work on it and sorry for my late response. I'm using yarn v1.22.19, and in my project it really worked with stencil 2.17.0.

I tested your fix and it works with yarn, thank you! Should I close the issue myself?

[2022-07-25 16:01] wollardj commented on #2560
Can confirm the `usage` issue. I'm using `docs-custom`, not `docs-json` but I suspect the same code is responsible for the issue in both places.

With `docs-custom` it seems that watch mode _does_ re-execute my custom doc generating code when any of the content in a `usage/*.md` file is modified, but the `JsonDocComponent` object I receive has the usage data that was initially scanned when the wat

[2022-07-25 18:39] #3407 closed

[2022-07-26 14:27] rwaskiewicz commented on #2560
@wollardj Thanks! The issue you're describing is being tracked by https://github.com/ionic-team/stencil/issues/3299.

@spaceemotion (and anyone else following this issue) - if this is still occurring in Stencil 2.X with `docs-json`, can someone please create a reproduction case for the team to take a closer look? Thanks!

[2022-07-26 14:36] jonapgartwohat commented on #2909
I'm quite interested in a solution here. Would make the generated Angular components a lot more developer friendly. In addition to the types, it would be amazing if jsdoc style comments could be carried over as well, but that's likely a bigger change.

@rwaskiewicz I'm looking at  [getProxy](https://github.com/ionic-team/stencil/blob/6fba6bb72749e603a620c6f8bff116097234b9f6/src/compiler/output-tar

[2022-07-26 21:19] #3471 closed

[2022-07-27 11:27] kelvindart opened #3490 "bug:"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-07-27 16:28] alicewriteswrongs commented on #3490
@kelvindart thank you for filing this detailed issue, and for providing a nicely put together minimal reproduction! it's really really appreciated :)

I have tried out your reproduction case and confirmed that this is an issue. This behavior where 'immutable' `@Prop`s aren't exactly all that immutable is something I've observed before as well.

If you're interested in taking a look, the behavior t

[2022-07-29 18:59] mburger81 opened #3499 "bug: unable to do a crypto dApp node-polyfills and commonjs issue"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-07-29 19:36] jcfranco opened #3500 "bug: All @Events are cancelable by default when component may not necessarily support event cancelation"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-01 03:18] gikey opened #3501 "bug: Using the same EventEmitter name in child component leads to additional emission from parent component."
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-01 14:09] rwaskiewicz commented on #3501
Hey @gikey 👋

Thanks for the reproduction case! Can you do me a favor and add what you're seeing in the reproduction case that demonstrates this issue? Specifically, can you add the following for me:

- Steps to run the reproduction case (I used `npm start`, but want to make sure we're on the same page here)
- How to interact with the reproduction case to recreate the bug
- What someone should see

[2022-08-01 14:26] rwaskiewicz commented on #3499
Hey @mburger81 👋

It's not entirely clear to me what the bug being reported is from the issue summary. This reads as multiple issues that you're running into while getting rollup plugin(s) configured. This issue tracker is unable to provide support-related questions. For those, I'd suggest asking in the [Stencil Slack](https://stencil-worldwide.slack.com/archives/C79EANFL7) or the [Ionic Forums](h

[2022-08-01 16:45] rwaskiewicz commented on #3464
The fix for this issue has been officially released as a part of [Stencil v2.17.2](https://github.com/ionic-team/stencil/releases/tag/v2.17.2). As a result, I'm going to close this issue and mark it as completed. If the bug re-appears, please feel free to open a new issue!

[2022-08-01 16:45] #3464 closed

[2022-08-01 16:46] rwaskiewicz commented on #3481
The fix for this issue has been officially released as a part of [Stencil v2.17.2](https://github.com/ionic-team/stencil/releases/tag/v2.17.2). As a result, I'm going to close this issue and mark it as completed. If the bug re-appears, please feel free to open a new issue!

[2022-08-01 16:46] #3481 closed

[2022-08-01 16:46] rwaskiewicz commented on #3482
The fix for this issue has been officially released as a part of [Stencil v2.17.2](https://github.com/ionic-team/stencil/releases/tag/v2.17.2). As a result, I'm going to close this issue and mark it as completed. If the bug re-appears, please feel free to open a new issue!

[2022-08-01 16:46] #3482 closed

[2022-08-01 16:47] rwaskiewicz commented on #3438
The fix for this issue has been officially released as a part of [Stencil v2.17.2](https://github.com/ionic-team/stencil/releases/tag/v2.17.2). As a result, I'm going to close this issue and mark it as completed. If the bug re-appears, please feel free to open a new issue!

[2022-08-01 16:47] #3438 closed

[2022-08-01 16:47] rwaskiewicz commented on #3471
The fix for this issue has been officially released as a part of [Stencil v2.17.2](https://github.com/ionic-team/stencil/releases/tag/v2.17.2).

[2022-08-01 17:31] mburger81 opened #3504 "bug: unable to do a crypto dApp node-polyfills and commonjs issue"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-02 09:24] danielleroux commented on #3278
I'm facing the same issue.

I have a dropdown and dropdown-item as stencil webcomponent. I used the react-output-target to generate wrapper for react.
The component `MyDropdown` and `MyDropdownItem` is `scoped=true` but `shadow=false`.

example usage:

[code]

if i start typing into the input field i get `Uncaught DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is n

[2022-08-02 10:18] jeco123 commented on #3278
Can you try to wrap your dropdown item into a div for exemple just to see if you have still the error ?I had another pb with vuejs, and wrapping that made my slot working!

[2022-08-02 10:28] danielleroux commented on #3278
Sadly not its resulting into the same problem

`
<div>
    <input
        type={'text'}
        onInput={(e) => setSearch((e.target as HTMLInputElement).value)}
    />
</div>
<MyDropdown>
    {items.filter(item => item.includes(search)).map(item => <div key={item}><MyDropdownItem  label={item} /></div>)}
</MyDropdown>
`

[2022-08-02 13:09] janarvaez opened #3505 "bug: ESM build imports from invalid file"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-02 13:37] ericapisani opened #3506 "feat: Stencil logo as an SVG"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already include this feature request, without suc

[2022-08-02 13:53] rwaskiewicz commented on #3506
Hey @ericapisani 👋

Thanks for reaching out! We have the Stencil available as an SVG in both white and black:

![stencil logo black](https://user-images.githubusercontent.com/1930213/182391573-44e14cac-974d-4d00-847b-14eca2b10471.svg)
![stencil logo white](https://user-images.githubusercontent.com/1930213/182391574-17daf8b1-5c11-48ae-b680-f21d0bc9acc7.svg)
![stencil logotype black](https://user-im

[2022-08-02 14:57] janarvaez commented on #3505
Could it be that the file name generated is too long?

[2022-08-02 16:02] sorozco653 commented on #3438
I am seeing a similar issue on v2.17.2. However, this time the path adds an extra layer of components for the recommended path.  I tried both relative and absolute path with no success.  Im not sure if this helps, but  I dont see the warning when I add the --watch command

![Screen Shot 2022-08-02 at 11 00 55 AM](https://user-images.githubusercontent.com/96745226/182419948-acd347ac-ea58-4efb-b665-

[2022-08-02 16:45] rwaskiewicz commented on #3505
@janarvaez

I don't think the generated filename being too long would do it.

We do need a reproduction case to look into this further. Can you do me a favor and use the [create-stencil CLI ](https://github.com/ionic-team/create-stencil)to generate the minimal amount of libraries & code necessary to reproduce the problem as you see in your repository?

Thanks!

[2022-08-02 18:03] rwaskiewicz opened #3507 "bug: `dist-custom-elements` module path validation suggests wrong dir"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-02 18:09] rwaskiewicz commented on #3438
Thanks @sorozco653 ! Tracking this in https://github.com/ionic-team/stencil/issues/3507

[2022-08-02 22:41] #3507 closed

[2022-08-02 22:51] rwaskiewicz commented on #3507
[v2.17.3 has been released](https://github.com/ionic-team/stencil/releases/tag/v2.17.3), which includes this fix!

[2022-08-03 07:10] janarvaez commented on #3505
Hey @rwaskiewicz ! thanks for the quick reply.
So apparently, it was that. I got the hint when I tried to open the file with VS Code, and it errored with "filename too long".
So what I did is use the `bundles` config in stencil.config.ts and split a few of the components in chunks of 5, and now the problem is gone.

For some reason Stencil was trying to bundle 23 files together, and concatenating

[2022-08-03 12:03] rwaskiewicz commented on #3505
Hmm interesting!

A reproduction case would really help us in that event, as the compiler is a pretty large piece of software. Having something that guarantees us the ability to reproduce the issue is the best way to move forward and look into this further

[2022-08-03 13:20] janarvaez commented on #3505
right, I will try to get this asap.
It might be a bit hard since I need to remove a lot of company owned code, and might not be able to reproduce after that (guessing the bundling will dynamically analyse the content and smart-split the chunks).
please bear with me 😅

[2022-08-03 17:06] rwaskiewicz commented on #3505
Thank you so much!

[2022-08-03 18:07] rwaskiewicz commented on #3504
Hey @mburger81,

I'm sorry you feel that way. Closing the issue was not personal in any way.

The reason the issue was closed is that it was unclear the problem(s) being described were. Specifically, it was difficult to differentiate between what was an issue you were reporting with Stencil, and issues that you found while attempting workarounds.  This made the issue read like a support ticket, ra

[2022-08-03 18:27] rwaskiewicz commented on #3473
Relabeling for the team to take a closer look. Thanks!

[2022-08-04 18:44] orl99 opened #3510 "bug: results.fileNames undefined during compilation in stencil 2.17.3 in NX"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-04 21:00] rwaskiewicz commented on #3510
Hey @orl99 👋

The value stored in `results` there is determined by a call to a TypeScript compiler API, `getParsedCommandLineOfConfigFiles`. That code can be found [here](https://github.com/microsoft/TypeScript/blob/b8f648832379005fc8c3c9b34cc5e4acd01653e4/src/compiler/commandLineParser.ts#L1864-L1894). Looking around that source, it appears as it [this block](https://github.com/microsoft/TypeScri

[2022-08-05 04:42] m4s7 commented on #3510
Thanks for this thread, I have the same problem. I just want to link the related issue in the @nxext/stencil repo: https://github.com/nxext/nx-extensions/issues/771

[2022-08-05 08:43] m4s7 commented on #3510
Steps to reproduce:

[code]
- Name: test-stencil
- Type: app
- nx-cloud: no

[code]

[code]

[code]

-> Working build

[code]

[code]
-> Failing Build

Repo: https://github.com/m4s7/failing-sample

[2022-08-05 09:03] fayeah opened #3511 "bug: dependency built with stencil, used in react project, the event triggered twice!"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-05 10:59] pranav-js commented on #3510
only way to fix as of now is to pin stencil/core at 2.17.1 , as 2.17.2 onwards it starts giving this error

[2022-08-05 12:48] jeski-bright opened #3512 "bug: WebWorker doesn't work when stencil component library imported to nextjs app"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-05 14:11] rwaskiewicz commented on #3510
Thanks all, y'all are awesome! I've confirmed this is a bug, and relates to how the NX plugin calls Stencil's APIs. I've ID'ed the commit in the Stencil repo that causes this, and am going to have someone take a look at this early next week

[2022-08-08 07:51] marco9446 opened #3514 "bug: Error: write EPIPE while strating the dev server"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-08 17:29] rwaskiewicz commented on #3514
Hey @marco9446 👋

I'm unable to replicate this using the specified version of Node and npm on Windows.  It's possible that you don't have permissions to run the dev server on your local filesystem (e.g. missing write permissions in that directory), but it's hard to say for sure.  LMK if there's another way we can reproduce this on additional machines and we can go from there.

[2022-08-09 08:02] pranav-js opened #3515 "bug: Readme's few section removed when selector is an imported constant"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-09 12:17] pranav-js commented on #3515
invalid scene, closing it

[2022-08-09 12:17] #3515 closed

[2022-08-10 17:59] alicewriteswrongs commented on #3461
The offending line (the `encapsulation === "shadow"` check) was added in this commit in 2020: https://github.com/ionic-team/stencil/commit/b5757df7c0737a3006668160da4d346047defd06

https://github.com/ionic-team/stencil/blob/b5757df7c0737a3006668160da4d346047defd06/src/compiler_next/bundle/ext-transforms-plugin.ts#L26

afaict it isn't necessary? there is no context in the original change other than

[2022-08-11 09:19] Aex12 commented on #2237
Same issue here, working with 2.13.0 stencil

[2022-08-11 10:45] weaintplastic commented on #3319
Hello 👋. It's been a while and I wanted to check in if there is any news on this. If possible, you could give me a thought-starter on where to start debugging and I'll try my best to fix it.

[2022-08-12 10:29] yannick-t commented on #2855
Hello,
I found yesterday that, with a minor update in deck.gl dependencies, this combination of stencil + deck.gl results in a failing build. Besides the mentioned warnings now following error is present as well:
[code]
Which seems very similar to the warnings

I forked the reproduction repo to showcase the error: [https://github.com/yannick-t/stencil_and_deck_issue](https://github.com/yannick-t/s

[2022-08-12 11:58] johnjenkins commented on #2284
What with Safari getting on-board with this, this feature is now an imperative, so I've just bashed something out very quickly in order to get the ball rolling.

https://github.com/ionic-team/stencil/pull/3519 - essentially does [what I mentioned above](https://github.com/ionic-team/stencil/issues/2284#issuecomment-959356404) - reads in `static formAssociated = true;` from your component and adds

[2022-08-12 13:19] alvarocjunq commented on #2284
Tks @johnjenkins
It will be great =)

Well, about use inside of the `@Component` and a static

I really understand the argument and I like it:

However, stencil defined some rules and use a static property looks a "rule breaker"
Because the configurations of the component are inside of `@Component`, the documentation will be a bit strange to this case

But maybe it's about the plans of Stencil and

[2022-08-12 13:49] rwaskiewicz commented on #2855
Thanks all! I've confirmed that something's not quite right here, and am going to label this to get it ingested into the team's backlog

[2022-08-12 13:54] rwaskiewicz commented on #2237
Hey folks, if someone can create a reproduction case that the team can pull down, that'd be much appreciated!

[2022-08-12 14:31] FirstVertex opened #3520 "bug: Angular ng serve not auto reload when using Angular output target"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-12 15:20] alicewriteswrongs commented on #3512
hi @jeski-bright, thanks for filing this issue (and for opening a related PR!). I was able to confirm that the error is happening in your reproduction - thanks for providing that with detailed instructions for use!

I'm going to mark this for ingestion into our backlog and the Stencil team will prioritize root-causing and dealing with the issue.

Thanks again for reporting!

[2022-08-12 15:48] rwaskiewicz commented on #3520
Hey @FirstVertex 👋

Thanks for the issue! Two points of order here:

1. I'm going to move this to the [`stencil-ds-output-targets`](github.com/ionic-team/stencil-ds-output-targets) repo, as this relates to the Angular framework wrapper and its interaction with the`ng` cli + a stencil project
2. I'm going to label this as "Needs Reproduction". Please create a reproduction case that the team can pul

[2022-08-12 20:17] rwaskiewicz commented on #2560
Hey all 👋

This issue is being closed due to the lack of a code reproduction. If this is still an issue with the latest version of Stencil, please create a new issue and ensure the template is fully filled out.

Thank you for using Stencil!

[2022-08-12 20:17] #2560 closed

[2022-08-12 20:17] rwaskiewicz commented on #2781
Hey all 👋

This issue is being closed due to the lack of a code reproduction. If this is still an issue with the latest version of Stencil, please create a new issue and ensure the template is fully filled out.

Thank you for using Stencil!

[2022-08-12 20:17] #2781 closed

[2022-08-16 08:32] laureanray commented on #2434
I'm still experiencing this with `2.5.0` are there any plans to fix this or any work arounds?

[2022-08-16 08:37] laureanray commented on #2381
Hi @manucorporat, I have same question as @luchsamapparat any particular explanation how `html` option of `newSpecPage` would help? Is this documented somewhere?

I'm also curious what kind of fixes were merged to fix `page.on('request')`.

Kind regards

[2022-08-16 15:14] edolix commented on #2893
FWIW it seems to work for the `dist` output target but not for `dist-custom-elements` (?)

[2022-08-16 18:55] rwaskiewicz commented on #3432
Thanks all! I'm going to move this to the [stencil-ds-output-targets](https://github.com/ionic-team/stencil-ds-output-targets) repo and get it labeled for the team to take a closer look!

[2022-08-16 20:27] rupa29 commented on #1998
@rwaskiewicz  is there any update on this? i'm facing the same issue

[2022-08-17 09:32] jgroth opened #3524 "feat: copy component doc blocks to generated types"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already include this feature request, without suc

[2022-08-17 12:50] rwaskiewicz commented on #3524
Thanks @jgroth ! I'll get this labeled to get put into the backlog for us to review (the PR) further!

[2022-08-18 13:21] GerardvdStelt commented on #3198
I would like to re-open this issue as I (and some others on your StencilJS's Slack channel) am facing the same problem.

The steps to reproduce this are quite simple:
1. npm init stencil or npm init stencil@latest
2. update package file to have a build entry for static files
"build.static": "stencil build --prerender",
3. run: npm run build.static

This indeed creates a static version of the (stan

[2022-08-18 14:15] vincenthongzy commented on #3434
Hey there @rwaskiewicz, I am happy to report that the problem is due a bug in `nwsapi` used by `jsdom`. After manually updating it to the latest version, the infinite loop bug is not occurring anymore.

[2022-08-18 22:17] eriklharper commented on #2284
Is there a way to support both?  I'm cool with adding it as a compiler option, but might be cool to also have it support the static way of declaring it too.

[2022-08-19 09:27] NoelLH commented on #1848
I know this is an old issue, but wanted to jump in with something I tried recently to load FontAwesome (6) icons with just SVGs: partly in case it's helpful, and also in case anyone sees any big performance or maintainability problems with this approach! We haven't done it in an app in anger yet and I'm not really sure what the impact on bundled size will be compared to using fonts. It _feels_ cle

[2022-08-19 12:39] KevinCarnaille2 commented on #2703
FYI, still having the issue in Stencil `2.17.3` :)

@thccorni workaround is working ;)

[2022-08-19 18:55] tomwayson commented on #2328
@apurvaojas I'm experiencing a similar error while trying the decorator pattern from [this blog post](https://dev.to/tallyb/writing-storybook-stories-with-tsx-for-stencil-2c1i), which, similar to the [above process](https://github.com/ionic-team/stencil/issues/2328#issuecomment-873660351) utilizes `renderVDom()`:

<img width="864" alt="image" src="https://user-images.githubusercontent.com/662944/1

[2022-08-19 22:34] ethanbdev opened #3534 "bug: TypeScript errors not reported on stencil build when `components.d.ts` is not present"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-22 10:44] willholmeswastaken commented on #3514
I had this issue too, but it resolved itself when I changed my deps to these versions:
[code]

[2022-08-22 12:03] rwaskiewicz commented on #3501
I'm going to close this issue due to lack of reproduction case. If this is still an issue, please feel free to create a new issue with a minimal reproduction URL for the team to pull down and take a look at. Thanks!

[2022-08-22 12:03] #3501 closed

[2022-08-22 12:04] rwaskiewicz commented on #3511
I'm going to close this issue due to lack of reproduction case. If this is still an issue, please feel free to create a new issue with a minimal reproduction URL for the team to pull down and take a look at. Thanks!

[2022-08-22 12:04] #3511 closed

[2022-08-22 12:04] rwaskiewicz commented on #3514
I'm going to close this issue due to lack of being able to reproduce this issue. If this is still an issue, please feel free to create a new issue with a minimal reproduction URL for the team to pull down and take a look at. Thanks!

[2022-08-22 15:53] rwaskiewicz commented on #3534
Hey @ethanbdev 👋

If I'm reading this correctly, it seems the scenarios in the "Steps to Reproduce" section both require that `components.d.ts` to be absent. Is that understanding correct? If so, may I ask why the type declaration file isn't available?

Seems to make it sound like the file isn't checked in to source control - is that the case?

[2022-08-22 16:22] ethanbdev commented on #3534
Hey, thanks for the quick reply.. Since it is an autogenerated file it does not make sense to me to check it into source control. Is it a recommended best practice to check that file in?

[2022-08-22 16:48] rwaskiewicz commented on #3461
The PR that fixes this issue (#3517) is a part of [today's v2.17.4 release](https://github.com/ionic-team/stencil/releases/tag/v2.17.4). As a result, I'm going to close this issue. Should the issue reoccur on v2.17.4+ of Stencil, please open a new ticket, thanks!

[2022-08-22 16:48] #3461 closed

[2022-08-22 16:49] rwaskiewicz commented on #3510
The PR that fixes this issue (#3518) is a part of [today's v2.17.4 release](https://github.com/ionic-team/stencil/releases/tag/v2.17.4). As a result, I'm going to close this issue. Should the issue reoccur on v2.17.4+ of Stencil, please open a new ticket, thanks!

[2022-08-22 16:49] #3510 closed

[2022-08-22 16:53] tomwayson commented on #2328
For anyone else who ends up here, it seems like @marcolanaro has a more recent solution here: https://github.com/storybookjs/storybook/issues/4600#issuecomment-899055226

And it looks like the storybook and stencil teams were interested in using that as the basis for an official integration, but it's not clear to me where that effort ended up.

[2022-08-22 17:05] rwaskiewicz commented on #3534
It is recommended this file be checked in at this time. Stencil currently requires this file to be present to properly perform type checking.  We're aware this isn't desirable for everyone, and are tracking issues related to this in #3239.

[2022-08-22 17:05] rwaskiewicz commented on #3534
For now, I've opened a PR in our documentation to make it explicit we recommend this file be checked in https://github.com/ionic-team/stencil-site/pull/907

[2022-08-22 17:13] ethanbdev commented on #3534
Okay, thank you for the update and thanks for updating the doc. We can monitor that issue. Should I add some of this info as a comment there?

[2022-08-22 17:20] rwaskiewicz commented on #3534
Appreciate the offer! I think we have everything we need - when I mentioned it above, that gave us a good link to this issue like so in 3239:
![Screen Shot 2022-08-22 at 1 18 20 PM](https://user-images.githubusercontent.com/1930213/185980979-1a44f29b-df48-4ceb-8bc0-f2a0fa320e88.png)

I'm gonna keep this issue open and label it so it gets into the backlog.  I want to make sure this case (although i

[2022-08-22 18:02] benelan commented on #3239
Although not ideal, adding a `prebuild` NPM script can work around this issue:

[code]

[2022-08-23 13:44] rwaskiewicz commented on #2755
Hey there! 👋

I'm sorry it took someone this long to get to this ticket.  The Stencil team is currently only supporting Stencil 2.0+. As of [Stencil 2.0, Chrome 39 is not supported. ](https://stenciljs.com/docs/browser-support).  I'm going to close this ticket, and apologize again for how long it went unacknowledged.

[2022-08-23 13:44] #2755 closed

[2022-08-23 13:47] rwaskiewicz commented on #2831
Hey there 👋

I'm sorry this took so long to get to. If you're willing and able, could you please create a minimal reproduction case with the latest version of Stencil for the team to take a look at for triage? Thanks!

[2022-08-23 13:56] DavideMininni-Fincons opened #3536 "bug:"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-23 13:57] rwaskiewicz commented on #2780
👋 hello there!

I was unable to reproduce this with the latest version of the create-stencil CLI. Specifically I performed the following steps:
[code]

2. update `package.json`:
[code]

3. Rerun the build, where I don't see any changes made:
[code]

Am I understanding this correctly? Or perhaps this has been resolved?

[2022-08-23 17:26] rwaskiewicz commented on #2581
Hey @Firebrand 👋

I apologize it took so long for someone to acknowledge this issue. Although I can't say for sure what the circumstances around how this happened without your knowledge on your site, I apologize for any inconvenience this caused.

It appears the verbiage here was introduced in 56b1b221, so I'm not entirely sure how this happened almost a year later.

If this is continuing to happe

[2022-08-23 17:26] #2581 closed

[2022-08-23 18:40] chihab opened #3539 "ReferenceError: File is not defined on Unit Test"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-23 19:08] rwaskiewicz commented on #2298
This appears to have been fixed, but the issue was never closed 😢 Sorry about that, and thanks for reporting this!

[2022-08-23 19:08] #2298 closed

[2022-08-23 20:35] rwaskiewicz commented on #2511
Hey @donskov 👋

I apologize that it took someone this long from the team to acknowledge this ticket. This bug report is from before my time on Stencil. If you're willing/able to create a reproduction case with the latest version of Stencil for the team to take a look at, I'd greatly appreciate it!

[2022-08-24 07:47] DavideMininni-Fincons commented on #2703
Hello guys!
Yesterday I found this issue while having some trouble setting the form attribute on [this component](https://github.com/lyne-design-system/lyne-components/tree/master/src/components/sbb-link), based on Stencil.

The walkaround from @thccorni seems to work (thank you!)

If it could help, I debugged a bit the @stencil/core/internal/client/index.js;
at line 398 you could see that all par

[2022-08-25 08:58] #2511 closed

[2022-08-25 11:30] urielblanco opened #3554 "bug: watch decorator doesn't work if we change the original tag name"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-25 11:44] johnjenkins opened #3555 "feat: more advanced `style` template literals"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already include this feature request, without suc

[2022-08-25 11:56] urielblanco commented on #3554
The community in slack was help me and one guy said that the problem is here

https://github.dev/ionic-team/stencil/blob/c05cebec911ca0ef4acf7e4673e24e7801316b0d/src/runtime/initialize-component.ts#L87-L88

[code]

_$tagName$ is defined in your file as "my-component", so this callback never fires_

Then

https://github.dev/ionic-team/stencil/blob/c05cebec911ca0ef4acf7e4673e24e7801316b0d/src/runtim

[2022-08-25 13:04] rwaskiewicz commented on #2703
Thanks all! I've confirmed this is an issue with the minimal reproduction case above. I'm going to label this for the team to look into further

[2022-08-25 13:13] jiriKralovec commented on #2381
How exactly does that answer close this issue?

[2022-08-26 00:50] steenburgh opened #3557 "bug: ES5 builds do not work in IE11"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-26 07:35] dellfort commented on #3203
This issue was reported several times now. First time as it seems in 2018
https://github.com/ionic-team/stencil/issues/496
There was a detailled code example how to start a local express server with csp settings that reproduce that behaviour.
Serve any stencil component with styles from this server and you can see the browser errros in console.log and see that the styles are not applied due to sec

[2022-08-26 11:42] rwaskiewicz commented on #3203
Hey @dellfort 👋

In https://github.com/ionic-team/stencil/issues/3203#issuecomment-1009943821, I had asked for a minimal reproduction case with the latest version of Stencil for the team to pull down and take a look.  If you'd be willing to provide one, that would certainly help move issues like these along!

[2022-08-26 11:57] rwaskiewicz commented on #3555
Hey @johnjenkins  :wave:

Thanks for the suggestion! The team and I discussed this a bit yesterday and have decided this isn’t a great fit for Stencil at this time. While we feel this is possible from a technical standpoint, we believe that getting the developer experience for CSS inlined in Stencil components in different editors just right (e.g. syntax highlighting, code completion, etc.)  would

[2022-08-26 11:57] #3555 closed

[2022-08-26 12:53] rwaskiewicz commented on #3557
Thanks for the detailed reproduction @steenburgh! It's much appreciated. I was able to confirm this issue and will label it to be ingested into the team's backlog to be refined

[2022-08-26 13:41] rwaskiewicz commented on #2477
Hey @markcellus 👋

I apologize it took so long for someone on the team to acknowledge this ticket.

In the time since this issue was initially reported, Stencil has changed how it uses TypeScript. Stencil now embeds a version of TypeScript in the Stencil compiler to ensure compatibility between the TypeScript APIs Stencil uses, and the code folks write. This is a stance the previous Stencil team h

[2022-08-26 13:41] #2477 closed

[2022-08-26 13:44] rwaskiewicz commented on #2324
👋 If someone would be willing/able to create a minimal reproduction case with the latest version of Stencil, the team would be happy to take a look. It appears the original repro has disappeared, likely due to the time it took for someone to ack this ticket 😢

[2022-08-26 13:44] rwaskiewicz commented on #2430
Closing as a duplicate of #2324

[2022-08-26 13:44] #2430 closed

[2022-08-26 13:46] rwaskiewicz commented on #2368
👋

I apologize it took so long for someone on the Stencil team to acknowledge this ticket.  if someone would be able to create a minimal reproduction case with the latest version of Stencil + Ionic Framework, the team would be happy to take a look!

[2022-08-26 13:47] #3504 closed

[2022-08-27 15:38] R-Bower commented on #3059
Any updates here? This seems to have stalled. I'd like to use stencil for my component library, but proper support for tree shaking is a must.

[2022-08-29 12:43] rwaskiewicz commented on #3439
Going to move this to `stencil-ds-output-targets` as it pertains to the framework wrappers for Vue

[2022-08-29 12:48] rwaskiewicz commented on #3505
@janarvaez any luck getting a reproduction case together?

[2022-08-29 13:45] rwaskiewicz commented on #3136
@MarkChrisLevy

In [this comment](https://github.com/ionic-team/stencil/issues/3136#issuecomment-982476911) you mentioned missing the following functionality:

Can you explain your use case for this functionality? Is this specific to `dist-custom-elements`?

You mentioned that it could be achieved by a rollup plugin, is there a particular benefit that you see Stencil supporting this functionality

[2022-08-29 14:08] janarvaez commented on #3505
Hey @rwaskiewicz ! really sorry, been swamped finalising a few things in the library. I'll try to get it sorted this week, early next week tops.

[2022-08-29 16:14] rwaskiewicz commented on #2165
👋

I apologize it took so long for someone on the team to acknowledge this ticket. This has been resolved in https://github.com/ionic-team/stencil/pull/3337, and was a part of the [2.15.2](https://github.com/ionic-team/stencil/releases/tag/v2.15.2) release. As a result, I'm going to close this ticket. Should this issue reappear, please open a new issue using the latest version of Stencil. Thanks!

[2022-08-29 16:14] #2165 closed

[2022-08-29 16:18] rwaskiewicz commented on #2163
Hi @ClementPZ 👋

I apologize that it took so long for someone on the team to get to this issue.

At this time, this is the intended behavior of the `create-stencil` CLI (`npm init stencil`). The `www` folder is created as a result of running `npm run build` or `npm start`, but doing so requires all of the project's dependencies to be installed first, which the CLI does not do (because we do not kn

[2022-08-29 16:18] #2163 closed

[2022-08-29 16:26] rwaskiewicz commented on #2125
Hey @ErikArndt 👋

I apologize that it took so long for someone on the team to take a look at this issue.

It seems that as of Stencil 2.17, this behavior no longer occurs (or, at the very least, I'm unable to reproduce it). If you're still seeing this issue, please feel free to open a new issue. Thanks!

[2022-08-29 16:26] #2125 closed

[2022-08-29 16:32] rwaskiewicz commented on #2094
Hey @gtranter 👋

I apologize that it took so long for someone on the team to get back to you regarding this issue.

It appears that as of Stencil 2.17, this issue has been resolved - or at the least I'm unable to reproduce it following the steps you provided. The `types` field appears to be set to `"dist/types/index.d.ts"` by default now. When the `types` field is set to a non-existent file, the b

[2022-08-29 16:32] #2094 closed

[2022-08-29 18:10] rwaskiewicz commented on #2293
Hey @threeaccents 👋

I apologize that it took so long for someone on the team to acknowledge this ticket.

It's a little difficult to diagnose an issue here without seeing the messages that Stencil was producing at the time alongside the code. Generally speaking, a compiler might have different information available to it once the source code changes, which in theory could have explained the diffe

[2022-08-29 18:10] #2293 closed

[2022-08-29 18:21] alicewriteswrongs commented on #3253
Didn't mean to close this! I think we want to look at a few follow-up things after fixing the problem in Framework, in particular:

- documenting the `key` attribute behavior which is currently undocumented
- see if we could add a runtime- or compile-time warning to Stencil in cases where _not_ setting a `key` attr will lead to undesirable behavior (as in, for instance, the issue uncovered here)

[2022-08-30 07:08] ClementPZ commented on #2163
Hello Ryan,
It has been so much time that I had difficulties to reconnect with the issue !!! hahahha
Thanks anyways for answering !
Saludos from Mexico
C.
----
Clément PZ
Contactame en Whatsapp <https://wa.me/525528593354>

[2022-08-30 12:25] George-Payne opened #3564 "bug: ref callback order"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-30 14:18] alicewriteswrongs commented on #3564
Hi @George-Payne thanks for filing this issue! I believe you are right that this is related to #3253, what you are describing is basically the same issue, with the caveat that the behavior described in #3253 is what happens if you _don't_ set the `key` prop on an element which is moving while you're describing what happens if the `key` is mutated.

At present what Stencil does with `key` attribute

[2022-08-30 16:08] MarkChrisLevy commented on #3136
@rwaskiewicz Today I wanted to add a new FR related to this topic. There two things related to "external" options:

1. Marking, that a library (piece of external code), that is used by a component should not be packed in the component's output bundle
2. Marking, that an external component should that is used by a component should not be packed in the component's output bundle

In the first case, l

[2022-08-30 16:28] alicewriteswrongs commented on #3564
Ok that makes sense. The issue reproducing without setting a key is basically what #3253 is all about. My current take on the situation is that Stencil's VDom implementation is, at present, not correct because you shouldn't _need_ to set keys in order to get the correct behavior for setting a `ref` like this, both because ideally there would be an exhaustive algorithm for matching up VDom children

[2022-08-30 18:30] rwaskiewicz commented on #2025
Hey @derldalfor100 👋

I apologize it took so long for someone on the team to take a look at this issue.  Given the age of the issue, it's hard to tell what version of Stencil/protobufjs you were using and how.  If you're willing/able, we'd love it if you could open a new issue in the repo here with the latest version of Stencil.  Thanks!

[2022-08-30 18:30] #2025 closed

[2022-08-30 18:49] #1852 closed

[2022-08-31 04:03] supersabillon opened #3565 "Loader's package.json does not have private:true attribute"
**Stencil version:**

[code]

**Current behavior:**
When generating a loader, the package.json does not have a private: true attribute

**Expected behavior:**
It should have a private: true attribute since we don't intend to publish to npm.

[2022-08-31 06:55] Loic57 commented on #1868
Anyone has a fix ?

This is my component (simplified)

`import { Component, Prop, h, Host, Element, getAssetPath } from '@stencil/core';

@Component({
  tag: 'xxx-icon',
  styleUrl: 'icon.scss',
  shadow: false,
  assetsDirs: ['icons']
})
export class XXXIcon {

  render() {

    const fileUrl = `./icons/icons.svg`;
    const iconUrl = `${getAssetPath(fileUrl)}#icon-${this.icon}`;

    return (

[2022-08-31 09:40] kraftwer1 opened #3569 "bug: Firefox performance when components in components"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-31 12:24] rwaskiewicz commented on #3569
Thanks @kraftwer1! I see what you mean - I'm going to label this for the team to take a closer look

[2022-08-31 12:47] George-Payne commented on #3564
Thanks for extensive reply, and the docs you linked were interesting.

In the second example, the issue can't be resolved by adding a key, due to the changing the nodes position in the tree.

<details>
    <summary>my-component.tsx (with key)</summary>

[code]

</details>

<details>
    <summary>my-component with key console output.</summary>

[code]

</details>

Because the tree goes from:

[code

[2022-08-31 12:58] George-Payne commented on #3564
Coludn't find an equivalent issue in `Snabbdom`, but:

This seems to be the same thing in 'preact':

https://github.com/preactjs/preact/issues/2194

With the fix:

https://github.com/preactjs/preact/pull/2217

But this doesn't seem to map directly to anything in stencil, as far as I can see.

[2022-08-31 13:02] vaibhavshn commented on #2784
Facing a similar issue, but running update does update my `package-lock.json`.

Still seeing these logs.

<img width="993" alt="image" src="https://user-images.githubusercontent.com/6205961/187684505-453fdf79-20f2-46fe-be1c-1f1b8a80a8f5.png">

[2022-08-31 13:21] rwaskiewicz commented on #3565
Hey @supersabillon 👋

Can you explain the motivation for this issue/its PR for me a little to help me understand a bit better? Did you run into an issue where `loader` was accidentally published to NPM? Some other issue perhaps? No issue at all?

Thanks!

[2022-08-31 13:27] stanley85 opened #3570 "bug: ref missing when testing with spec page"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-31 13:45] johnjenkins commented on #3570
this is a support ticket so probably better of asked in [slack](https://app.slack.com/client/T77MU2PJL/C79EANFL7/) :) ... however, the issue is your `random-click-host-element` is not automatically defined and bootstrapped in your unit test... so there is no 'close' method; it's a vanilla, generic mock 'element'.

Amend to something similar to
[code]

[2022-08-31 14:51] stanley85 commented on #3570
@johnjenkins wow thanks for your quicke reply on this - i've not expected to have my testing setup as the resulting reason. I've added all components that are custom inside the wrapper component and now its working like a chram. Thx again, had my head around this for quite a while. I've learned something today :)

[2022-08-31 14:52] #3570 closed

[2022-08-31 15:06] George-Payne opened #3571 "bug: "module" property warning on `www` output target"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-08-31 16:09] janarvaez commented on #3505
Hi @rwaskiewicz
So I have good/bad news 😅
I managed a partial reproduction, in which it bundles 23 files together, but because of the removal of all the actual code, it doesn't try to generate the separate hashed file with the long name which is the one failing to be generated.

I also had a few other findings, which I added to the [readme](https://github.com/janarvaez/stencil-build-filename/blob/

[2022-08-31 16:21] supersabillon commented on #3565
hi @rwaskiewicz yeah apologies I should have provided more context. Some tools used in monorepos for publishing packages, for example we are using [Changesets](https://github.com/changesets/changesets), use this property to check if a package needs to be published.

So Changesets tries to publish this package and throws an error when it can't find it in the registry. Not sure if this is happening

[2022-08-31 16:45] alicewriteswrongs commented on #3564
That all makes sense to me, and you're right that currently there's no real way to workaround this issue if nodes are moving up and down the tree like that (the bit of the `updateChildren` algorithm that looks at the keys only looks at the children from one node to another_.

I think we could easily implement something along the lines of the fix in that Preact PR.

Thanks for finding and sharing a

[2022-08-31 20:31] rwaskiewicz commented on #2784
👋 I'm going to label this issue to get it ingested into the team's backlog

[2022-08-31 20:38] rwaskiewicz commented on #1931
Going to close this per https://github.com/ionic-team/stencil/issues/1931#issuecomment-661690180 and https://github.com/ionic-team/stencil/issues/1931#issuecomment-661859688. If this is still be experienced in Stencil 2+, please feel free to open a new issue!

[2022-08-31 20:38] #1931 closed

[2022-09-01 02:22] johncrim commented on #3230
Hi @rwaskiewicz - the PR may be outdated (I don't know what has changed since I created it), but would be great to get either my PR merged, or this fixed some other way.

[2022-09-01 06:11] deleonio opened #3574 "feat: It's Time for SSR with Astro"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already include this feature request, without suc

[2022-09-01 12:11] rwaskiewicz commented on #3505
@janarvaez

Thanks! Making sure that I understand correctly from the repo README:

Is the issue here a lack of guide on working with multiple Stencil libraries at once?

[2022-09-01 13:24] rwaskiewicz commented on #3136
Thanks @MarkChrisLevy! Would you do be a favor and create the FR(s) in that case so we can properly split them off from this issue?

[2022-09-01 13:49] rwaskiewicz commented on #2635
👋

I wasn't able to reproduce the originally stated issue locally with the following `stencil.config.ts` changes from the output of `npm init stencil component`:
[code]

https://user-images.githubusercontent.com/1930213/187930210-2f5f7a77-ad71-4a00-8a73-d457560863cf.mov

@tfrijsewijk can you provide me with a minimal reproduction case to take a closer look?

[2022-09-01 14:20] tfrijsewijk commented on #2635
@rwaskiewicz 👋

I'll see what I can do, but I think you're pretty close to my reproduction case already:

* Move `app/src/components/my-component/style2.scss` to `directory-next-to-app/src/style2.scss`
* Change the `@import` in `app/src/components/my-component/style.scss` to `@import "../../../../directory-next-to-app/src/style2.scss";`

It's important to note that `style2.scss` lives outside of t

[2022-09-01 14:55] rwaskiewicz commented on #3574
Hey @deleonio 👋

Thanks for the feature request! At this time, we're not looking to pursue integrations with Astro. However, if someone were interested in building an integration, we'd be happy to add it to the [stencil-community organization](https://github.com/stencil-community), which contains community-led/driven projects!

[2022-09-01 15:43] tanner-reits commented on #3500
Hey @jcfranco 👋

Sorry for the delay on this. I was able to confirm we default events as cancelable and that is getting reported in the generated documentation JSON files. I'll get this labeled so it's pulled into our backlog and we can discuss as a team. Thanks for reporting the issue!

[2022-09-01 16:16] rwaskiewicz commented on #3565
Thanks!

This seems like a reasonable enough request. I’m not an expert on Changesets (the project) by any means. I did some reading up on how Changesets operates, and if there was an alternative to making a change in Stencil.
Like I said though, this is a reasonable enough request, we’re just a little wary of making a change to fit any given tool/repo setup.

It seems that Changesets [provides an

[2022-09-01 17:28] rwaskiewicz commented on #2237
I'm going to close this issue due to lack of being able to reproduce this issue. If this is still an issue, please feel free to create a new issue with a minimal reproduction URL for the team to pull down and take a look at. Thanks!

[2022-09-01 17:28] #2237 closed

[2022-09-01 17:55] MarkChrisLevy opened #3576 "feat: support of external libraries/components in dist-custom-elements"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already include this feature request, without suc

[2022-09-01 17:57] MarkChrisLevy commented on #3136
@rwaskiewicz Done - #3576

[2022-09-02 02:15] seanwuapps opened #3578 "bug: (reopen #2560) Readme changes in watch mode don't trigger docs-json"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-09-02 08:38] janarvaez commented on #3505
@rwaskiewicz  Well, the issue is there, maybe properly configuring it allows the bundler to do the correct bundle split and is less likely to happen.
But it could just be the case that this still happens in other scenarios.
I think that for this specific issue, what could be done is when bundling files together, check that the file name won't exceed the max allowed by linux/macos/windows. This is

[2022-09-02 08:41] klh commented on #2865
Previously stencil did not add Event types to proxies,  it does now - but since they are not exported in the root project (only in the local component) accessing them through
from '[mylibrary]/components'; in the proxies.ts file fails.

3 options:
1: remove the export of events in proxies.ts
2: add the events as export in top level
3: import directly from the component instead  '[mylibrary]/compon

[2022-09-02 15:26] tanner-reits commented on #3578
@seanwuapps Thanks for logging this issue and providing a reproduction repo and steps! Also, thanks for linking some older issues related to this same problem, it's unfortunate to see this is still an issue. I was able to confirm in your reproduction, so I'll get this labeled for our team to take a look at! Thanks again!

[2022-09-02 16:07] tanner-reits commented on #2586
@vinioo I'm going to close this issue out due to inactivity and assuming the proposed solution above worked. If you are still experiencing issues here, you can pose a question in our [Slack channel](https://stencil-worldwide.herokuapp.com/)!

[2022-09-02 16:07] #2586 closed

[2022-09-02 17:18] #2576 closed

[2022-09-02 17:27] tanner-reits commented on #2496
@fyyyyy @DrMabuse23 Sorry for this issue sitting unanswered for so long!

If either of you are still experiencing this issue with a recent version of Stencil, could you please update to issue to include a minimum reproduction repo? That would help our team dramatically as we start sifting through our un-triaged issues. Otherwise, we'll look to close this out in the near future. Thanks in advance!

[2022-09-02 17:45] tanner-reits commented on #2198
@claviska @elizabethsjudd Sorry you ran into this problem and that this issue has sat unanswered for so long!

I quickly tested out the listed reproduction steps with the latest version on Stencil and wasn't experiencing the overwrite issue you had run into. If either of you are still running into this with a recent version, please update the issue with a minimum reproduction and we can get it int

[2022-09-02 17:48] tanner-reits commented on #2770
Hi all! I'm going to go ahead and close this out as it sounds like the initial problem has been sorted out. If anyone is still running into issues or has questions on how Stencil's `@Event()` or `@Listen()` decorators work, please [check out the docs](https://stenciljs.com/docs/events) or post a question in our [Slack](https://stencil-worldwide.herokuapp.com/)!

[2022-09-02 17:48] #2770 closed

[2022-09-02 18:01] tanner-reits commented on #2522
Hey all! Sorry this issue has sat so long.

If anyone here is still experiencing this problem, please update the issue with a minimum reproduction repo (this helps the team verify issues and gives us something to reference when we go to resolve the problem). Otherwise, we'll look to close this out in the near future. Sorry again for the delay!

[2022-09-02 18:37] tanner-reits commented on #2826
Hi @RezaRahmati and everyone else experiencing this 👋

So sorry this has sat so long. I was able to quickly verify this is a problem with the latest version of Stencil. It appears @wolthers found a workaround, but I'll still go ahead and get this labeled so the team can take a look at what's going on and see what we can do on our end. Thanks again for the issue!

[2022-09-02 19:20] tanner-reits commented on #2155
Hi all 👋

I think this could be a nice addition we add in the future. To feel effective, however, seems like we would need to make some related changes to how our started projects are created for this to be useful end-to-end. I'll put a label on here so this can get ingested into our backlog for future refinement. Keep an eye here for future updates!

[2022-09-02 19:41] tanner-reits commented on #2034
Hi @Leandro-Albano 👋

Thanks for logging this issue and sorry it's sat for so long! I just ran a quick check in the latest version of Stencil and didn't run into any type of compiler warnings. If you're still experiencing issues, please update the issue with a minimum reproduction repo. Otherwise, the team will look to close out this issue in the near future. Thanks in advance!

[2022-09-02 22:26] mpayson opened #3580 "bug: `componentDidLoad` is called in parent before children have loaded"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-09-03 02:50] deleonio commented on #3574
@rwaskiewicz

How we got a repo there?!

- Lit do that with https://web.dev/declarative-shadow-dom/

I think this topic is a unique selling point for lit at all. And we have this requirement - in enterprise

- https://www.npmjs.com/package/@webcomponents/template-shadowroot
- https://www.npmjs.com/package/@astrojs/renderer-lit
-

[2022-09-06 09:11] duyduong25 opened #3581 "bug: Cannot read property 'push' of undefined TypeError when trying to start the server"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-09-06 12:01] rwaskiewicz commented on #3581
Hey @duyduong25,

Can you do me a favor and try to create a minimal reproduction case for the team to look at? I wasn't able to reproduce this with a new stencil component starter on Windows (`npm init stencil component`) like you said you were able to do in the 'Additional Info' section. This _might_ be related to your environment, although its difficult to tell at the moment. Thanks!

[2022-09-06 12:31] minecrawler commented on #3581
Hi @rwaskiewicz ,

just fyi, I have the code base in front of me and am able to build and start it, as are other colleagues. I think it's a problem with @duyduong25 's environment. Unfortunately, I'm unable to help, since I'm not sure what stuff Stencil is doing at that point which causes it to fail. Do you have any recommendations what to try?

[2022-09-06 13:17] rwaskiewicz commented on #3581
@minecrawler @duyduong25 A few things that you may be able to compare between your machines/environments to root cause:
- OS (it looks like @duyduong25 is on a Windows machine, although I don't know if that's the same for the rest of the team)
- Node/NPM versions
- Directory structures & permissions (I would check this, as there may be an issue where a directory is readonly here)
- Verifying that

[2022-09-06 13:47] rwaskiewicz commented on #3574
@deleonio Feel free to put up a proposal at https://github.com/stencil-community/proposals/issues/new/choose!

[2022-09-06 14:44] minecrawler commented on #3581
Thank you for your quick reply :)

We should be on the same OS, since our machines are enrolled in an MS SCCM environment

I tried it with several versions, including @duyduong25 's (he's using 14.15, I also tried 17.4.0 and 18.5.0 using NVM)

Good point! I put my projects usually in my user's directory, but it looks like @duyduong25 put it on C:\

We tried the same steps on both our machines.

[2022-09-06 15:29] mtempranoWalla commented on #2301
Running into this issue aswell. Has there been any fix provided?

[2022-09-06 17:59] rwaskiewicz commented on #3230
@johncrim

Agreed - I've done a little work internally to make Jest easier to upgrade (and easier to change things like ESM support). I'm hoping to move to the prototyping stage later this week, from there I hope to be able to be in a better place to determine how we can work with this PR

[2022-09-07 13:35] arvindanta opened #3584 "bug: autoDefineCustomElements with dist-custom-elements bundle throwing errors such as Cannot access 'Xyz' variable before initialization"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-09-07 17:40] liamdebeasi opened #3586 "bug: reflected prop value forced to null when set to undefined"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-09-08 10:25] DavideMininni-Fincons opened #3588 "bug: pseudoselector in querySelectorAll method breaks unit tests"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-09-08 11:00] musangowope commented on #2496
I'm experiencing this something similar
**Stencil version**
[code]

Current behavior:
tests fail

Expected behavior:
tests pass

Steps to reproduce:
In the terminal run
`stencil test --spec --e2e`
The terminal will output
[code]
Then get to this error:

Your test suite must contain at least one test.
[code]

**Further observations:**
If I run `stencil test --e2e`, all my end-to-end tests pass.
But

[2022-09-08 17:25] kyubisation commented on #3536
@alicewriteswrongs Is that a third party library or something internal to Stencil.js? As this is starting to become a blocker to us, we would like to try to contribute a solution to this problem.

[2022-09-09 03:06] bsastregx opened #3593 "bug: component content duplicated (with hydrate app on a SSG)"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [x] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-09-09 08:27] DavideMininni-Fincons opened #3594 "bug: missing prop for HTMLDialogElement"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-09-09 12:08] theo-staizen commented on #2731
With the industry moving to Webpack 5 and other modern bundlers that support `import.meta.url` as well as the fix provided in `v2.16.0`, I feel that this ticket can be closed as it is no longer relevant for most users.

[2022-09-09 12:26] bsastregx commented on #3413
Hello 👋 I am having the same issue.
Here you can see my post: https://github.com/ionic-team/stencil/issues/3593
Please, can you give an estimate of how long it will take to get fixed?

[2022-09-09 12:29] rwaskiewicz commented on #3594
Thanks @DavideMininni-Fincons!

I've confirmed that this is an issue with the reproduction case you provided. I was also able to test it against a dev build of Stencil that resolves the issue. This coming Monday's Stencil release, v2.18.0, will contain the fix (#3530)!

[2022-09-12 02:00] juanr941 commented on #1868
Is there a workaround for this?

[2022-09-12 08:25] rogeberr commented on #3413
Hello,
we really need a solution for this problem. Could you help us with this? What do we have to do to speed this issue up?
Thank you.

[2022-09-12 08:36] Johanstormarn commented on #3413
Hello @alicewriteswrongs, should this issue get "bug: validated"-label? Since we have two reproductions and several incident reports?

[2022-09-12 13:17] dellfort commented on #3203
Please see following example wich reproduces the behavior:
https://github.com/dellfort/stencil-component-starter

'npm i'
'npm start'

launches a express server with strict csp settings in addition to built in server.

open in chrome, firefox or safari:
http://localhost:3333/
index.html and web-components are served without strict csp
you see a 20px red border

now open in chrome, firefox or safar

[2022-09-12 15:40] alicewriteswrongs commented on #3536
The mock DOM library is [something internal to Stencil](https://github.com/ionic-team/stencil/tree/main/src/mock-doc) called mock-doc. It provides some Stencil-specific support for mocking and testing things in a node.js environment.

[2022-09-12 17:22] #2815 closed

[2022-09-12 17:23] rwaskiewicz commented on #3565
A fix for this bug has been release as a part of [Stencil v2.18.0](https://github.com/ionic-team/stencil/releases/tag/v2.18.0). I'm going to close this issue, but please feel free to open a new issue should the bug reoccur. Thanks!

[2022-09-12 17:23] #3565 closed

[2022-09-12 17:26] rwaskiewicz commented on #3594
A fix for this bug has been release as a part of [Stencil v2.18.0](https://github.com/ionic-team/stencil/releases/tag/v2.18.0). I was able to confirm the fix by running `npm i @stencil/core@2.18.0` in the reproduction case. Thanks for that - they're super helpful for things like this!

I'm going to close this issue, but please feel free to open a new issue should the bug reoccur. Thanks!

[2022-09-12 17:26] #3594 closed

[2022-09-12 19:30] alicewriteswrongs commented on #3413
Hello all,

I know that it can be frustrating to file an issue about a serious problem you're running into and not see progress on it for a while. We're a small team and when prioritizing issues we have to look at a bunch of different things, including our internal priorities as team, the priorities of the Ionic Framework team, and the community's interests and priorities. At times it's a tough ba

[2022-09-13 11:42] aresrioja10 opened #3603 "bug: markdown docs not displaying types as expected"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-09-13 11:59] rwaskiewicz commented on #3603
Hey @aresrioja10 👋

Thanks for the detailed info! Can you please create a reproduction case for the team to pull down and inspect? Thanks!

[2022-09-13 14:22] aresrioja10 commented on #3603
@rwaskiewicz Let me know if you have access:

https://gitlab.com/david.porres.dev/stencil-types-issue

[2022-09-13 15:43] rwaskiewicz commented on #3588
Hey @DavideMininni-Fincons 👋

Thanks for the detailed issue report! I can confirm that this is an issue. It appears to be with how Stencil interacts and uses Sizzle, a selector engine library.  I'm going to label this for the team to take a closer look. Thanks again!

[2022-09-13 16:33] bsastregx commented on #3593
Hi @alicewriteswrongs

You are welcome.
Yes, it is a duplicate.
You can close this issue if you would like.

Thanks for your time.

[2022-09-13 16:35] johnjenkins commented on #3584
@alicewriteswrongs I troubleshooted...? troubleshot...? troubleshotted.. this issue in [slack, here](https://stencil-worldwide.slack.com/archives/C79EANFL7/p1662636106592419?thread_ts=1662556798.858229&cid=C79EANFL7) for full coverage < circular dependencies caused by a rogue variable import.
I think @arvindanta can probably close the issue, however maybe circular dependencies could be mentioned i

[2022-09-13 16:43] arvindanta commented on #3584
Hi @alicewriteswrongs , as John mentioned the issue was due to a variable import that caused a circular dependency.
Have fixed it now.
@johnjenkins Thanks for helping me out in identifying the root cause for the issue and helping with the fix.
 Closing this issue.

[2022-09-13 16:43] #3584 closed

[2022-09-13 16:43] rwaskiewicz commented on #3603
I'm going to label this to get it ingested into the backlog for the team to refine further. Thanks!

[2022-09-13 16:52] alicewriteswrongs commented on #3584
🙏 thanks @johnjenkins for helping out and closing the loop on the information here! @arvindanta thanks for filing the issue and good luck in your journey with Stencil 💫

[2022-09-13 16:53] alicewriteswrongs commented on #3593
@bsastregx thanks for letting me know, any updates on the problem will be on #3413 and, as I wrote over there, while I can't promise it will be addressed on any particular timeline at present I _can_ promise that we will take a look at it soon.

Thanks again!

[2022-09-13 16:53] #3593 closed

[2022-09-13 17:26] bsastregx commented on #3593
@alicewriteswrongs I understand. I really appreciate the time you took to respond. Thanks very much. I hope this bug gets fixed whenever you can. Bests, Bruno.

[2022-09-14 00:10] mikaelkaron opened #3605 "feat: upgrade `@rollup/plugin-node-resolve` in order to support `exports` in `package.json`"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already include this feature request, without suc

[2022-09-14 04:04] nick-vincent opened #3606 "`dist-hydrate-script` output target doesn't respect `hydratedFlag` config"
## Stencil version:

[code]

## Current behavior:

When using the `dist-hydrate-script` output target for SSR:

`renderToString()` always adds the class `hydrated` instead of respecting the `hydratedFlag` attribute configuration:

<img width="513" alt="image" src="https://user-images.githubusercontent.com/31055081/190053915-23859e85-ad77-4a45-87dd-da75af0073ad.png">

## Expected behavior:

I would

[2022-09-14 07:05] theo-staizen commented on #2731
@rwaskiewicz thank you for re-opening the ticket.

I have spent the last couple of days updating my demo repo and testing all bundlers I think are relevant today.
I have updated the README to document bugs + workarounds for each one:
https://github.com/theo-staizen/stencil-workers

TL;DR:
- `dist-custom-elements` does not output worker files and expects them to be in the wrong path
    - can somet

[2022-09-14 07:43] aresrioja10 commented on #3603
Thanks @rwaskiewicz !! Could you estimate when it could be solved?

[2022-09-14 09:36] cgpro commented on #2481
Is it not possible to modify the build process so that variables are also possible here?
In my case, I want to compile a version with and a version without CSS.

[2022-09-14 11:39] rwaskiewicz commented on #3603
Hey @aresrioja10, I don't have an estimate for you at this time.

[2022-09-14 12:09] rwaskiewicz commented on #2496
@musangowope  can you do us a favor and create a minimal reproduction case & a new issue for the team to take a look at? Thanks!

[2022-09-14 12:20] rwaskiewicz commented on #1868
Hey folks,

There's a lot of information here, but some of it is really hard to make actionable for myself and the team! I hear and understand the frustrations with the API - we've rewritten the entirety of our [assets documentation](https://stenciljs.com/docs/assets) already, but to move forward with fixing this API we need more information to understand the issue(s) present.

Specifically, we ne

[2022-09-14 14:35] joewoodhouse opened #3607 "bug: Potential Memory/Resource Leak"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-09-14 15:14] rwaskiewicz commented on #3588
Potentially related to https://github.com/ionic-team/stencil/issues/3043

[2022-09-14 18:44] rwaskiewicz commented on #2518
After giving this some thought, I don't know if this is something that we're interested in pursuing at this time. If anyone who's subscribed to this issue (or finds it later on) believes they have a use case, can you please open a new issue that describes your use case an the specific scenario(s) in which you're looking to quiet the output and what that would look like to you? (e.g. do errors show

[2022-09-14 18:44] #2518 closed

[2022-09-14 22:53] joewoodhouse commented on #3607
I've now refined my reproduction, though I'm not closer to being able to explain what's going on. I've pushed my changes to my repo and Netlify link.

The core seem to be:

* The app main page contains an `<ion-list>` element
* A modal is presented
* The modal's component renders a custom component called `<my-list>`
* The `<my-list/>`'s `render()` function returns `<Host class="list-md"/>`

With

[2022-09-16 12:49] FabioGimmillaro opened #3616 "feat: Let globalScript take CustomElementsDefineOptions as parameter"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already include this feature request, without suc

[2022-09-16 15:45] bsastregx commented on #3413
@alicewriteswrongs I am proving a screenshot of another case where content is duplicated. Cant go to production with this bug.

![duplicated content](https://user-images.githubusercontent.com/54677414/190678350-6105243a-2dfa-4fab-89fc-615f23fa8ccb.png)

[2022-09-17 11:26] MarianDabrowski commented on #3450
Are there any updates?

[2022-09-19 10:14] jepiqueau commented on #3165
@dgonzalezr @pratheeshp007 This seems to have been fixed in 2.18.0. I update jeep-sqlite this morning with 2.18.0 and the  warning message disappears.

[2022-09-19 11:56] FabioGimmillaro commented on #3616
Hey guys,

I just found another issue describing the same problem I am facing:
https://github.com/ionic-team/stencil/issues/3269

Unfortunately I didn't see it in my search before submitting this issue.

[2022-09-19 12:09] jepiqueau commented on #3165
@dgonzalezr @pratheeshp007 @rwaskiewicz  Well in fact after having done a npm start when you do a npm run build the warning message is still there

[2022-09-19 16:27] alicewriteswrongs commented on #3616
Hello @FabioGimmillaro, thanks for taking the time to open this feature request and to look through the backlog. If #3269 captures what you're trying to raise here, would it be alright with you if we closed this?

[2022-09-19 16:29] FabioGimmillaro commented on #3616
Hi.
Yes of course. :)

[2022-09-19 16:34] alicewriteswrongs commented on #3606
@nick-vincent thanks for filing the issue, and for providing a reproduction! It's a big help for us when going through and triaging issues.

I've taken a look at your repro and read through some of the relevant code and I believe that you're right that `renderToString` does not currently respect the `hydratedFlag` setting.

Can you explain what you mean by the following?

I'm just wondering where

[2022-09-19 16:35] alicewriteswrongs commented on #3616
Great, thanks!

[2022-09-19 17:19] tanner-reits commented on #3607
@joewoodhouse Thanks for reporting this issue and providing a replication site/repo/steps! Reproduction cases are super helpful for us as we try to pinpoint where some of these obscure issues lie.

That being said, this one could be a doozy. I was able to verify the issue with nodes being infinitely created on your reproduction url. Looks like some garbage collection process is getting hindered. I

[2022-09-20 21:40] TRMW commented on #3136
I was wondering if anyone could respond to this. It would definitely be easy to migrate consumers of our component library from the deprecated custom elements to the new one if the new one also provided a `defineCustomElements` method.

[2022-09-21 12:28] rwaskiewicz commented on #3136
@TRMW someone on the team is actively looking into this. We can't promise it would be an _exact_ 1:1 match with the behavior of `dist-custom-elements-bundle`, but we do see the value in giving folks an easier migration path here.

We also have a docs revamp planned for this output target in the coming weeks 🙂

[2022-09-21 16:27] alicewriteswrongs commented on #2618
@jackdriscollukg thanks for pointing out this issue! I'm going to close in favor of #3564, a newer issue with a lot more context. Feel free to give that a read, and know that the team is working on addressing various problems / outstanding issues in this area at present.

[2022-09-21 16:27] #2618 closed

[2022-09-21 16:38] alicewriteswrongs commented on #3443
Just a quick update on this, I just opened a small PR (#3627) which fixes a bit of diagnostic handling code where we were accessing a property on a possibly-undefined value without checking.

After fixing that issue one thing I'm consistently running into is this upstream issue in TypeScript: https://github.com/microsoft/TypeScript/issues/43838

[2022-09-21 18:52] nitroplonker opened #3629 "bug: e2e tests do not support complex objects as props"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-09-21 23:08] TRMW commented on #3136
@rwaskiewicz This is excellent news! Looking forward to both of these updates. :)

[2022-09-22 13:56] #2831 closed

[2022-09-22 15:18] #2780 closed

[2022-09-23 03:01] jonathandewitt-dev commented on #2826
Thanks for your hard work @tanner-reits!

I'm experiencing this issue also, but @wolthers' workaround only got me one step further before something else impeded me.

When I import the component class from the dist folder into my demo, I get this error message: `Cannot set properties of undefined (setting '$lazyInstance$')`. I'm not sure if this should be its own issue, or if it's related to the fa

[2022-09-24 07:01] h-sakano commented on #3434
@vincenthongzy
I updated nwsapi to 2.2.2, but the problem was not resolved.
Is there any other workaround?

[2022-09-25 13:45] #2324 closed

[2022-09-25 14:45] #2368 closed

[2022-09-27 14:26] rwaskiewicz commented on #3629
Thanks @nitroplonker ! I've confirmed this isn't working as expected, and am going to label it so that it gets ingested into the team's backlog

[2022-09-28 09:06] KevinCarnaille2 commented on #3165
Hello there,
I had the issue for a while and indeed, I'm using multiple output targets.

Fixed the issue by removing the `dist-hydrate-script` output (https://stenciljs.com/docs/hydrate-app#how-to-use-the-hydrate-app)

I don't use it, it was it was a simple experimentation :)

[2022-09-28 17:02] #2171 closed

[2022-09-29 12:24] ryuran commented on #3230
I'm blocked by this situation because one of my component use [swiper](https://swiperjs.com/) available only as esm in last version and it make fail the related spec test.
[code]

   I didn't found any workaround for now.

[2022-09-29 21:22] ju-Skinner commented on #1998
I have a similar issue when using a custom outputPath for distributing the compiled assets. The issue only pertains to `e2e` test and the dev server.

`_generated/core` is the directory I output compiled (built) files

[code]

[2022-10-02 18:07] #2522 closed

[2022-10-02 18:07] #2198 closed

[2022-10-02 20:07] #2034 closed

[2022-10-03 02:18] amylo commented on #2832
Hi, I would like to make a pull request to resolve this issue.

I'm thinking of providing a flag in Stencil testing config:
[code]

If people want to see these compiler console warnings, they set `compilerLogLevel: 'warn'`:
[code]

And since most people don't want to see these warnings anyways, I think the _default_ value (if `compilerLogLevel` is not provided in their testing config) should be **

[2022-10-03 10:36] daragh-king-genesys commented on #3348
@rwaskiewicz any update on this? Is it possible yet to estimate when this will get prioritised?

[2022-10-05 11:52] dutscher commented on #3446
https://github.com/ionic-team/stencil/releases/tag/v2.18.0
@CSchulz we will try the 2.18.0 if ariaLabel works.
thanks

[2022-10-05 16:05] SepehrSepahi commented on #3362
The same here.

Stencil 2.13.0
Angular 14.2.0

[2022-10-06 11:31] bjankord commented on #3203
Having the ability to set a nonce on the generated style elements would be ideal. We are currently relying on unsafe-inline in our CSP style-src config, but from a security perspective, would like to move away from needed to use the unsafe-line option and instead be able to pass a nonce to web component somehow so it is added on the generated style elements.

[2022-10-06 18:03] #3581 closed

[2022-10-07 02:28] davidkutas commented on #2064
Same here.

[2022-10-07 17:17] rwaskiewicz commented on #2064
Hey folks - if someone could create a reproduction case for the team to pull down (that uses Stencil v2), that'd be a big help to us!

[2022-10-10 20:06] rwaskiewicz commented on #3060
Hey @rsmelo92,

Starting with https://github.com/ionic-team/stencil-component-starter/commit/938bc8f333cf837b8e8f739afb770366e6720c73, we now generate Stencil component libraries with and `index.ts` file like so:
[code]
which doesn't require us to explicitly put the `type` modifier in our import statement. This is beneficial for projects that might be connected to TypeScript v4.1 and prior, who ca

[2022-10-10 20:06] #3060 closed

[2022-10-11 08:11] DesignByOnyx commented on #1707
The issue is locked, so I can't reply.

I'm not in a place to test, but you can replicate this by using any of the
existing rollup plugins currently maintained by your team:
***@***.***/postcss`, ***@***.***/sass`. Simply try to call `this.addWatchFile`
(or any of the [context methods](
https://rollupjs.org/guide/en/#plugin-context)) inside the plugin.

On Fri, Mar 25, 2022 at 8:45 AM Ryan Waskiew

[2022-10-11 09:08] klh opened #3706 "bug: our stencil repo has started emitting typescript errors on your mock-doc implementation"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-10-11 09:13] klh commented on #3706
perhaps it would be a good idea to version lock you package.json files to exact versions instead of using ^ ?

[2022-10-11 09:36] klh opened #3707 "patch for mock-doc issue (if anyone needs it)"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@stencil/core@2.16.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-10-11 10:24] mtempranoWalla commented on #2822
Has there been any further discussion regarding this? Seeing as it's not closed, is there any plan to remove said warning?

[2022-10-11 11:43] rwaskiewicz commented on #3707
Thanks @klh

To confirm, was this to fix the issue you ran into in #3706?

[2022-10-11 11:45] rwaskiewicz commented on #3706
Hey @klh,

Can you do me a favor and provide a minimal reproduction case for the team to pull down? We directly bundle the TypeScript compiler to avoid these types of issues, which makes this type of issue interesting 🤔 Thanks!

[2022-10-11 11:57] klh commented on #3707
Correct :) - super hacky but needed a quickfix

[2022-10-11 11:59] klh commented on #3706
I'll try, however - i suspect its because there's no package-lock.json file in the repo so version float - happened with no code changes in all our ci builds as well as on local installations

[2022-10-11 12:21] klh commented on #3706
//ts config:

{
  "compilerOptions": {
    "allowSyntheticDefaultImports": true,
    "allowUnreachableCode": false,
    "declaration": false,
    "experimentalDecorators": true,
    "lib": ["dom", "es2017"],
    "moduleResolution": "node",
    "module": "esnext",
    "target": "es2017",
    "noUnusedLocals": true,
    "noUnusedParameters": true,
    "jsx": "react",
    "jsxFactory": "h",
    "jsxF

[2022-10-11 12:41] rwaskiewicz commented on #3707
Thanks! I'm gonna copy this over to the original issue, that way we have some continuity between the issue and this patch

[2022-10-11 12:41] #3707 closed

[2022-10-11 14:17] mikkelrom commented on #2526
Update: Rollup issue fixed in v3.0.0.

https://github.com/rollup/rollup/issues/3415

[2022-10-11 14:29] rwaskiewicz commented on #2526
Excellent - we're scheduling Rollup-related updates starting next sprint.

[2022-10-12 09:44] johnjenkins opened #3712 "bug: --reporters flag broken"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-10-12 12:25] rwaskiewicz commented on #3712
Hey @johnjenkins 👋

Thanks for the detailed reproduction report!

I modified your test running command ever so slightly to verify this without Jest's caching getting in the way:
[code]

and I believe that this was introduced somewhere in v2.17.X:

<details>
<summary>v2.17.0 (working)</summary>
<pre>
$ npm i @stencil/core@2.17.0
changed 1 package, and audited 377 packages in 775ms

35 packages are

[2022-10-13 20:29] alicewriteswrongs commented on #3246
@benjamin-t-frost if you have one handy is there any chance you could provide a code sample where the `setTimeout` workaround _doesn't_ work? If not no worries :)

[2022-10-13 23:09] mikaelkaron commented on #1847
I get this in `2.18.1` as well, but only if the `svg` is defined inside a functional component

[2022-10-13 23:58] mikaelkaron opened #3717 "bug: SVG's viewBox is set to lowercase (again)"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-10-14 01:53] pvandrunen commented on #2431
Bump to this. The only method for using Vanilla Ionic that has worked for me is using the CDN links, trying to use an import to the package doesn't work. In fact, manually copying the entire ionic project into the project folder and using the local path 1) assumes all of the generated files are in the root / and if I copy all of those files to the root it throws the error:
[code]

[2022-10-14 11:52] rwaskiewicz commented on #3717
Hey @mikaelkaron 👋

Can you do me a favor and create a minimal reproduction case for the team to take a look at? I tried to create one with the code block provided, and `viewBox` seems to be rendering fine for me in Chrome/Edge/Safari/Firefox.
![Screen Shot 2022-10-14 at 7 52 37 AM](https://user-images.githubusercontent.com/1930213/195840523-b614189b-3a4e-4133-9298-9b4bada73c99.png)

[2022-10-14 13:03] #2496 closed

[2022-10-14 15:58] rwaskiewicz commented on #2784
This will be fixed in an upcoming version of Stencil, v2.19.0.

[2022-10-14 20:42] rwaskiewicz commented on #2028
Hey there 👋

I apologize it took so long for someone on the team to acknowledge this issue. At this time, Stencil v1 and lower is no longer supported.  As a result, I'm going to close this issue.

If this issue is still occurring in Stencil v2, can you please create a new issue for us with a minimal reproduction case? Thanks!

[2022-10-14 20:42] #2028 closed

[2022-10-14 20:47] rwaskiewicz commented on #2513
Hey there 👋

I apologize it took so long for someone on the team to acknowledge this issue. At this time, Stencil v1 and lower is no longer supported.  As a result, I'm going to close this issue.

If this issue is still occurring in Stencil v2, can you please create a new issue for us with a minimal reproduction case? Thanks!

[2022-10-14 20:47] #2513 closed

[2022-10-15 08:39] mikaelkaron commented on #3717
Thank you for spending all this time testing (love the screenshots). I'll make you a reproduction (if I can)

[2022-10-15 21:54] mikaelkaron commented on #3717
So after a _bunch_ of trial and error I have it down to a combination of the [`history` package](https://www.npmjs.com/package/history) and ESM.

- Let's first see a [broken version of ESM and SVG with stencil](https://codesandbox.io/s/stencil-esm-svg-1-okpp0m?file=/src/components/app-root/app-root.tsx)
  - note `import { Icon } from "./functional.js"` in `app-root.tsx`
  - note `{type: "module"}`

[2022-10-17 08:14] kraftwer1 opened #3720 "bug: E2E beforeAll() error: The page was already closed"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-10-17 08:29] danyball commented on #2223
Hi @rwaskiewicz - the issue got many upvotes. Whats your strategy to go on with this idea? Has "testing" a priority at your Backlog?

[2022-10-17 12:20] rwaskiewicz commented on #2223
Hey @danyball - this is something we're actively considering. While I can't promise a timeline, we're looking into ways to alleviate the painpoints of:

- Stencil keeping up with the current version of Puppeteer
- Stencil requiring the usage of Puppeteer
- Various libraries that need to be installed/how we communicate that to folks for new projects

[2022-10-17 13:58] rwaskiewicz commented on #3717
Hey @mikaelkaron,

Thanks for the detailed explanation. Super clear/easy to follow along with - I'm able to confirm this is a bug in Stencil, and am going to label this for the team to look into finding a fix for

Thanks again!

[2022-10-17 14:50] alicewriteswrongs commented on #3246
I have been looking into this issue and I believe I've figured out what's going on. Essentially, in certain cases `componentDidLoad` can fire before the DOM elements associated with a component have been attached to `document.body` (well, attached to the shadow root for the component) but *after* they have been created, at which point the `.focus()` method will be defined but will essentially be a

[2022-10-17 15:11] rwaskiewicz commented on #3720
Hey @kraftwer1 👋

Thanks for the bug report! I can confirm that this behavior does occur in Stencil and agree it's not what I would expect with using `beforeAll`. This appears to have been done in https://github.com/ionic-team/stencil/commit/66ad23d5bdb7b3b6ca36fb3c390eb05c53411c91 in order to reduce memory usage. I don't have much more context as to why that behavior is/was configured ATM. I'm go

[2022-10-17 17:58] rwaskiewicz opened #3724 "bug: --json flag no longer parsed properly for tests"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-10-18 03:16] jackchoumine commented on #2126
I hava the same problem.

my stencil.config:

[code]

npm scripts:
[code]
![微信截图_20221018111403](https://user-images.githubusercontent.com/21340150/196327300-ec0f970b-5daa-4364-9f9f-9e749daa1ff8.png)

code in dist and loader dont minifly.

[2022-10-19 07:56] PiyushHUB commented on #2609
I am facing the same problem, is it resolved?

[2022-10-19 07:58] PiyushHUB commented on #2235
This issue is coming again and again , is it really resolved?

[2022-10-19 09:41] nachogarcia commented on #3156
For us, it would be great to be able to use [Cypress Component testing](https://docs.cypress.io/guides/component-testing/writing-your-first-component-test#Component-vs-End-to-End-in-a-Nutshell) as we would like to use it even for the development phase.

[2022-10-19 13:31] alicewriteswrongs commented on #3724
A fix for this issue was merged in #3730 and will be included in the next release of Stencil.

[2022-10-19 17:09] leonheess commented on #2830
Solved this by changing `.assignedNodes()` to `.assignedNodes?.()` in the code.

[2022-10-20 18:02] rwaskiewicz commented on #3606
Sorry about that! Reopening

[2022-10-20 21:55] jeco123 commented on #2804
Have you tested the v-model feature with this "hack" ? on my side, nothing happens with the v model directive

[2022-10-21 12:18] adiandroo opened #3739 "bug: TypeError: Cannot read properties of null (reading 'addEventListener') on Stencil when implementing Subscribe with Google"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-10-21 12:46] mulztob opened #3740 "bug: devserver spawns multiple instances of web worker"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-10-21 13:00] rwaskiewicz commented on #3739
Hey @adiandroo 👋

Can you please provide a link to a code reproduction URL for the team to take a look at? While I understand that it sounds like this bug does not happen locally, the steps to reproduce here:

are not enough for the Stencil team to look into this further. There are too many unknowns here, including:
- how SwG should be implemented to reproduce the bug
- what the Stencil configurat

[2022-10-21 15:02] erichstark commented on #2284
Any update on this?

[2022-10-22 09:54] adiandroo commented on #3739
It's on private repo because it's my company project. Can I copy paste the code to here or I still have to give link to repo?

[2022-10-24 14:30] bsastregx commented on #3413
@alicewriteswrongs How are you doing?
I'm writting to know if there is any update with this issue.
Best regards, Bruno.

[2022-10-24 16:20] mikaelkaron commented on #3717
* The plot thickens. [You can 'fix' the code by inlining some svg](https://codesandbox.io/s/stencil-esm-svg-5-k2jzrh?file=/src/components/app-root/app-root.tsx:336-752)
  * note the inlined `<svg>` element
  * if the inlined element is present, both `<svg>` elements have correct `viewBox`
  * if we remove the inlined `<svg>` the `<Icon>` component will have a lowercased `viewbox`

Inspecting the `

[2022-10-24 16:56] rwaskiewicz commented on #3130
This has been fixed in [Stencil v2.19.0](https://github.com/ionic-team/stencil/releases/tag/v2.19.0), which was just released. I'm going to close this issue as a result. If this bug should reappear, feel free to open a new issue. Thanks!

[2022-10-24 16:56] #3130 closed

[2022-10-24 16:57] rwaskiewicz commented on #2784
This has been fixed in [Stencil v2.19.0](https://github.com/ionic-team/stencil/releases/tag/v2.19.0), which was just released. I'm going to close this issue as a result. If this bug should reappear, feel free to open a new issue. Thanks!

[2022-10-24 16:57] #2784 closed

[2022-10-24 17:02] rwaskiewicz commented on #3412
@RobM-ADP 👋

The original issue in the GitHub summary has been fixed in [Stencil v2.19.0](https://github.com/ionic-team/stencil/releases/tag/v2.19.0), which was just released. I'm going to close this issue as a result. If this bug should reappear, feel free to open a new issue. Thanks!

[2022-10-24 17:02] #3412 closed

[2022-10-24 17:03] rwaskiewicz commented on #3724
This has been fixed in [Stencil v2.19.0](https://github.com/ionic-team/stencil/releases/tag/v2.19.0), which was just released. I'm going to close this issue as a result. If this bug should reappear, feel free to open a new issue. Thanks!

(Yes, I closed my own issue 😆)

[2022-10-24 17:03] #3724 closed

[2022-10-24 17:57] CalinaCristian commented on #2178
A solution that worked for me was to add this in `stencil.config.ts`:

[code]

[2022-10-25 06:10] jeripeierSBB opened #3762 "bug: readme overview duplicates markdown content"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-10-25 11:54] rwaskiewicz commented on #3762
Hey @jeripeierSBB 👋

Sorry about that! I was able to confirm that this is indeed a bug that I introduced in #3635. I'm going to take a look at this later today

[2022-10-25 13:33] tanner-reits commented on #3740
@mulztob Thanks for reporting this issue and providing a reproduction! I was able to verify both problems you've experienced. So, I'll get this labeled and pulled into our backlog. Any updates will be posted here. Thanks again! 😄

[2022-10-25 20:08] rwaskiewicz commented on #3762
@jeripeierSBB

I've created a pre-release version of Stencil, [v2.19.1-0](https://github.com/ionic-team/stencil/releases/tag/v2.19.1-0), which contains #3766, a commit that fixes the issue.

Can you do me a favor and install this version of Stencil and verify this fixes the issue? Afterwards I can release an official v2.19.1 version

[2022-10-25 20:12] alicewriteswrongs commented on #3606
@nick-vincent sorry to miss your earlier message! I'm going to label this so it can be prioritized. Thanks for reporting!

[2022-10-25 20:43] bashmish commented on #3130
Thanks, great job 🤩  I especially like the explainer in the commit message, very clear and detailed, I'm gonna refer to this as an example how to maintain good and healthy history.

[2022-10-26 11:51] rwaskiewicz commented on #3762
The fix for this has been officially released under [v2.19.1](https://github.com/ionic-team/stencil/releases/tag/v2.19.1).  I'm going to close this issue as a result. Thanks again!

[2022-10-26 11:51] #3762 closed

[2022-10-26 14:18] asik opened #3772 "Cannot focus an input right after enabling it"
**Stencil version:**
[code]

**Current behavior:**
We have a wrapper around an <input> HTML, essentially this (most of the implementation elided for brevity):
[code]

Now let's say the WrapperTextInput is disabled, and you run the following code:
[code]
The call to `focus()` does not work. The component does not receive focus.
The following is a workaround:
[code]

This is surprising to users of o

[2022-10-26 17:07] alicewriteswrongs commented on #3772
Hi @asik, thanks for filing this issue :)

I noticed you linked #3246. Do you think the issue you're experiencing here is a separate issue than that one, or does it reflect the same underlying problem? I [wrote a comment on that issue](https://github.com/ionic-team/stencil/issues/3246#issuecomment-1280990307) explaining what I discovered after investigating this behavior a bit, perhaps that may be

[2022-10-26 18:19] asik commented on #3772
Repro here: https://github.com/asik/stencil-focus-issue-repro

You'll be able to see that the native input receives focus, but not the one wrapped in a stencil component.
![image](https://user-images.githubusercontent.com/1631157/198104040-8f4c44df-bfdd-4078-b995-f86073d22aca.png)
(Clicked the Toggle native button, focus is given to the native input)

![image](https://user-images.githubusercontent

[2022-10-26 20:11] alicewriteswrongs commented on #3772
@asik thanks for providing the reproduction! I just spent a bit of time digging into this and I think I have an idea what's going on.

To diagnose things a bit further I made the following changes to your reproduction repo:

[code]

That basically adds hacky diagnostic logging for 1) whenever the `.focus` method is going to be called 2) whenever the `disabled` prop changes within the component and

[2022-10-26 21:44] kdeds opened #3773 "bug: constructor() method no longer runs for components implementing an interface"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-10-26 22:19] kdeds commented on #3773
Seems to be related to https://github.com/ionic-team/stencil/commit/bd340b888380929b18e6d56ea98bbe154f19dd77

We moved our constructor code into `componentWillLoad()` which is fine for us but maybe there is something that can be done for backwards compatibility, or documentation to make it clear not to use constructors. This took a while to track down today and was breaking our whole library 😅

[2022-10-27 12:26] christophsaile commented on #2673
@popcorn245 thanks for your solution :)
the solution worked for me but only with the "rollup-plugin-typescript" - package, "@rollup/plugin-typescript" did still fail for me.

[2022-10-27 14:59] alicewriteswrongs commented on #3773
Ah ok I believe I understand what the problem is. There is an explainer here about the change which resulted in this behavior: https://github.com/ionic-team/stencil/commit/f97783029274f9ee5ea58ba74ab15905c5113c93

In short, to support setting typescript to emit ES2022+ code we need to transpile class fields, like this one:

[code]

to the following:

[code]

A bunch of Stencil's runtime behavior f

[2022-10-27 15:31] alicewriteswrongs commented on #3712
@johnjenkins after looking into this a bit I decided that in order to address this we needed to refactor Stencil's CLI parser in order to properly support this. A PR to do so is up here: https://github.com/ionic-team/stencil/pull/3776

It's not yet in a prereleased, I'll ping this issue when it merges and is ready for testing!

[2022-10-27 17:10] rwaskiewicz commented on #3773
Hey @kdeds 👋

@alicewriteswrongs' fix has been included in a [pre-release of Stencil, v2.19.2-0](https://github.com/ionic-team/stencil/releases/tag/v2.19.2-0). Can you please install it and verify that it fixes the issue?

[2022-10-27 23:00] kdeds commented on #3773
Sorry, had some weird issues trying to install it this morning but just gave it another try and got it downloaded. Looks like the fix works! Thank you for the quick turnaround :D
![image](https://user-images.githubusercontent.com/2187441/198413479-a31577e9-7102-445d-8dce-c72bc62cc028.png)
![image](https://user-images.githubusercontent.com/2187441/198413521-3dc2eefe-6ecd-4dab-9552-189f8c5b045d.png)

[2022-10-27 23:16] rwaskiewicz commented on #3773
The fix for this bug has been released as a part of [Stencil v2.19.2](https://github.com/ionic-team/stencil/releases/tag/v2.19.2). As a result, I'm going to close this issue. Should the bug re-appear, please feel free to open a new issue. Thanks again!

[2022-10-27 23:16] #3773 closed

[2022-10-28 08:24] ihormak commented on #3450
hi everyone, any updates on this?

[2022-10-28 13:30] alicewriteswrongs commented on #3450
Hi all!

The Stencil team has confirmed that this is a bug and ingested it into our internal ticketing system for prioritization and so on. I can promise that when there are updates about the issue or a fix it will be noted here, until then I have nothing to report 🙂

[2022-10-31 14:11] jared-christensen commented on #3138
Has anyone tried this https://dev.to/sanderand/running-multiple-versions-of-a-stencil-design-system-without-conflicts-2f46
I'm curious how well it works.

[2022-10-31 14:40] FabioGimmillaro commented on #3138
Hi Jared

we tried.
But refactoring the whole code base was not a viable solution for us.
Besides that we also had some css dependencies (mostly with the ::slotted selector) which we couldn't refactor without overriding the style in js/ts.
If we considered that at the beginning of development we might have given it a chance though.

[2022-10-31 16:38] KevinCarnaille2 opened #3782 "bug: slotchange event not firing with scoped mode"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-11-01 14:59] tanner-reits commented on #3782
@KevinCarnaille2 Thanks for the logging this! Unfortunately, Stencil does not currently have polyfill support for the `slotchange` event in a scoped DOM (as you have discovered 😆 ). That said, I'll get this labeled and ingested in our backlog as something we potentially support in the future. Thanks again and happy coding!

[2022-11-01 17:40] sean-perkins opened #3785 "bug: Unable to run Jest spec files from subdirectory or absolute path"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-11-01 17:42] rwaskiewicz commented on #3785
`npx stencil test --spec --max-workers=2 src/utils/keyboard` works, but `npm run test.spec -- src/utils/keyboard` and `npm run test.spec src/utils/keyboard` do not 🤔

[2022-11-01 21:35] csisy commented on #2812
Just found this issue, 1.5 years after it has been opened. Unfortunately it's still not working as expected. Explicitly turning off things, like `css vars shim` doesn't help.

[2022-11-01 22:11] csisy opened #3786 "bug: Unnecessary files generated"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-11-02 08:42] KevinCarnaille2 commented on #3782
Hello @tanner-reits thanks for the fast reply :)

I guess (I hope ?) I'm not the first one facing the issue, do you have a workaround for this ?
As I shortly suggested, using `MutationObserver` is a solution, but not especially the cleanest one.

[2022-11-02 13:44] AaronDDM opened #3788 "bug: generated types does not transform import alias paths to relative paths"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-11-02 19:25] alessandrodolci commented on #3576
Any update on this?

I'd add that the use case doesn't seem to be exclusively related to dist-custom-elements, as we're facing the same issue with different output targets, too. From my understanding, every import statement referencing a runtime object (so, not just some type declaration) that resolves to a Stencil collection forces the output bundle to always include the entire collection, with n

[2022-11-02 21:23] tonypatton commented on #3434
Any update here? It's been quiet for a while.

I tried the nwsapi upgrade, and it did not solve the issue.

[2022-11-02 22:27] tanner-reits commented on #3788
Hey @AaronDDM 👋
Thanks for reporting this issue! I was able to hop in the reproduction URL and verify the problem with the generated type definitions. I'm gonna get this labeled so it'll be pulled into our backlog to be resolved in the future!

[2022-11-03 14:41] KevinCarnaille2 commented on #3165
Don't know if it can help, my 2 cents :

I got the warning as soon as I include the `dist-custom-element ` in `outputTarget`. I have no warning if I remove `dist-hydrate-script` as well.
Currently I work with this config :

[code]

[2022-11-04 08:30] KevinCarnaille2 commented on #3437
Any update about the prioritization ? Facing the same issue and use pre-hydration style for most of my library.
I can only use `dist` atm :)

[2022-11-04 08:46] wes337 commented on #2822
This is a pretty big drawback to using Stencil. I'd like to have event listeners on my web components and have them used as one would typically expect:
[code]

But because of this 'warning', I'm pushed to do something like:
[code]

Which is awkward and possibly confusing when somebody goes to implement my Stencil component.

[2022-11-06 18:13] #2064 closed

[2022-11-07 00:50] ysulyma opened #3798 "feat: preserve jsdoc comments on class"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already include this feature request, without suc

[2022-11-08 09:44] patrikfogelstrand commented on #3584
@johnjenkins @arvindanta

I'm seeing the same error in my project, however I can't reach the Slack you're referring to above.

Can you please explain how you managed to solve this, or post a screenshot from the Slack conversation?

Thanks!

[2022-11-08 10:46] johnjenkins commented on #3584
@patrikfogelstrand

"
the error seems to come from the fact that ToastMessage and Icon are defined in the same file.
The way autoDefineCustomElements: true works, is when you import your component it has a sideEffect that it bootstraps itself AND any component it relies upon.

So in this instance, because ToastMessage relies on Icon it bootstraps it, but Icon - further down the file - has yet to b

[2022-11-08 12:44] patrikfogelstrand commented on #3584
Interesting. I can't seem to locate any similar scenario in my project, still seeing the same error.

[2022-11-08 15:25] rwaskiewicz commented on #3798
Thanks @ysulyma!

I appreciate the PR! I'm going to close the issue (not the PR) as a duplicate of https://github.com/ionic-team/stencil/issues/3524. The team will be looking into the PR during our next sprint. Thanks again!

[2022-11-08 15:25] #3798 closed

[2022-11-09 10:57] rahulgupta-dev opened #3808 "bug: Rollup: Plugin Error: ./node_modules/pdfjs-dist/build/pdf.js:2614:2"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [x] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-11-09 12:43] alicewriteswrongs commented on #3808
Hello @rahulgupta-dev, thanks for filing this issue! I've just checked out your reproduction case (thank for providing that!) and confirmed that there is an issue at present.

I believe it has to do with the use of [private class fields](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Private_class_fields) in the `main` file for `pdfjs-dist` (it's at `node_modules/pdfjs-d

[2022-11-09 18:51] ammanvedi commented on #3278
Seeing the same issue when shadow dom is disabled. Adding a child div seems to work for now.

As far as i see

1. web component mounts in react
[code]
at this point this is the view react has of this in its virtual dom

2. the web component mounts and may create extra divs between
[code]
this is the actual DOM, the view react has, has not changed since 1.

3. some change happens that causes <react

[2022-11-10 07:16] GuoJikun commented on #3235
now it can use ?

[2022-11-10 08:03] janforland opened #3811 "bug: Issues with loader file when using React components in NextJS"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-11-10 12:46] #3706 closed

[2022-11-10 15:02] alicewriteswrongs commented on #3235
Hello @GuoJikun! As you might notice above a PR addressing this issue was opened and merged into our v3 branch, so the fix will be released when Stencil v3 is released, but it won't be available on mainline releases before then.

When the fix is released we'll likely ping this issue to make sure it addresses the issue.

[2022-11-15 14:13] rwaskiewicz commented on #3712
Hey @johnjenkins 👋

@alicewriteswrongs' fix for this (#3765) has been included [Stencil v2.19.3](https://github.com/ionic-team/stencil/releases/tag/v2.19.3), which was just released this morning. I verified the fix one last time using the released version of Stencil and your reproduction case:

Original Reproduction with Stencil v2.18.1:
[code]

Using Stencil v2.19.3
[code]

As a result, I'm going

[2022-11-15 14:13] #3712 closed

[2022-11-16 07:37] duhem-s commented on #3712
Hello @rwaskiewicz, I still have problem with the CLI.

I used to do `npm run test:unit -- mg-form` to only test my `mg-form` component but since the version 2.19.x I'm not able to do so, all my unit tests are launched.

My `test:unit` script launch `stencil test --spec`, maybe I should do a different way ?

[2022-11-16 13:28] rwaskiewicz commented on #3712
Hey @duhem-s 👋

It sounds like there's one, potentially two different issues occurring there. For each issue, [can you please open a new issue in the repo](https://github.com/ionic-team/stencil/issues/new) with a minimal reproduction case for the team to take a look at? Thanks!

[2022-11-16 14:49] duhem-s opened #3825 "bug: CLI args of test names not propagated to Jest"
**Stencil version:**
[code]

**Current behavior:**
I used to do `npm run test:unit -- mg-form` to only test my `mg-form` component but since the version 2.19.x I'm not able to do so, all my unit tests are launched.

My `test:unit` script run `stencil test --spec`.

**Expected behavior:**
Be able to run a specific test file.

**GitHub Reproduction Link:**
https://github.com/duhem-s/stencil-cli

**O

[2022-11-16 14:50] duhem-s commented on #3712
@rwaskiewicz Here is the issue : https://github.com/ionic-team/stencil/issues/3825

Should I create a new one for the `-u` param or can I add more info in the same issue ?

[2022-11-16 15:40] rwaskiewicz commented on #3712
@duhem-s can you please create a new issue?

[2022-11-16 17:50] alicewriteswrongs commented on #3825
Is it possible this is a duplicate of #3785?

[2022-11-16 18:10] liamdebeasi opened #3826 "bug: tsconfig path does not work with spec tests"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-11-16 18:21] alicewriteswrongs commented on #3825
I just confirmed that this is the same issue as #3785, I have a fix which fixes the problem in both the reproduction for that issue and this one. I'm going to open a PR for that shortly, but I'm going to close this issue for bookkeeping purposes.

[2022-11-17 08:47] duhem-s opened #3828 "bug: CLI Jest `-u` argument is not passed"
**Stencil version:**
[code]

**Current behavior:**
When I run the `test` script, I can not pass anymore the `-u` argument to update my snapshots.

**Expected behavior:**
Being able to update my snapshot using the CLI.

**GitHub Reproduction Link:**
https://github.com/duhem-s/stencil-cli

**Other information:**
Using the command `npm run test -u` with stencil@2.12.1 :
![image](https://user-images.g

[2022-11-17 08:48] duhem-s commented on #3712
@rwaskiewicz Just did it : https://github.com/ionic-team/stencil/issues/3828

[2022-11-17 08:49] duhem-s commented on #3825
Hi @alicewriteswrongs 👋

I opened a new one https://github.com/ionic-team/stencil/issues/3828 do you think your PR will also fix this ?

[2022-11-17 13:07] deleanuradu commented on #247
In case anyone comes across this topic, I found this article that suggests using a plain class with a static _instance property (to turn it into a singleton), then passing that reference in the component where you need to use it.

[https://medium.com/@nerdic.coder/stencil-tutorial-tour-of-heroes-part-3-9b0e128ee664](url)

[2022-11-17 14:15] jgroth opened #3831 "bug: custom decorators are not invoked for state properties"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-11-17 14:39] tanner-reits commented on #3828
Hey @duhem-s 👋

Thanks for reporting this issue and providing a reproduction! I hopped in and took a peek at the problem you encountered across a couple different versions of Stencil (2.12.1, 2.13.0, and 2.19.3 (latest)). Definitely some inconsistencies between the versions. So, I'll get this pulled into our backlog for us to take a look at!

In the meantime, if you're running Stencil 2.13.0, I wa

[2022-11-17 14:51] alicewriteswrongs commented on #3825
Unfortunately that does look like a separate issue - at present we have a manually-defined set of short aliases like that which we support, and `-u` is, sadly, not among them at present 😢

[2022-11-18 07:50] jgroth commented on #3831
Thanks for the quick reply! Any estimate on a timeline when it might be fixed?
This is a quite serious breaking change for us and will prevent us from upgrading. We use this quite extensively to reduce the amount of boilerplate we have to write when connecting a component to a Redux state, e.g.
[code]

[2022-11-18 10:16] MrAntix commented on #3159
would this remove the need for specific version importsScripts in the sw.js file too?

[code]

[2022-11-18 12:04] johnjenkins commented on #3159
@MrAntix yep - my `sw.ts` just looks like a normal module  e.g.

[code]

and it generates my `sw.js` using whatever workbox I have installed via my package.json

[2022-11-18 15:44] alicewriteswrongs commented on #3825
Ok so I just realized, belatedly, that #3785 is _not_ the same issue as this one, so I'm going to re-open this issue so we can keep track of making sure that our next release fixes it.

Sorry for the noise!

[2022-11-18 15:53] alicewriteswrongs commented on #3785
found a few issues which might be related: https://github.com/playwright-community/jest-playwright/issues/665 and https://github.com/facebook/jest/pull/11267#issuecomment-834101929

Unfortunately upgrading Jest in framework doesn't fix it :/

[2022-11-18 15:56] alicewriteswrongs commented on #3785
also I've found that in addition to the commands @rwaskiewicz mentioned above, the following works:

[code]

while the following does not

[code]

the only difference being the trailing slash. So something odd is going on here!

[2022-11-18 16:08] alicewriteswrongs commented on #3785
Ok so this is actually some sort of caching thing, I think on Jest’s side of things but I’m not sure.

Basically if you run a command like this one multiple times in a row:

[code]

it will alternate between running correctly and failing. The same applies for doing npm run tsc.spec , passing other sub-directories, etc.

[2022-11-18 16:24] alicewriteswrongs commented on #3785
Aaaallright so the issue was caused by having different versions of `@jest/core`, on the one hand, and `jest` and `jest-cli` on the other. I updated `jest` and `jest-cli` in a branch in Framework to match the version of `@jest/core` (`27.5.1`) and can no longer reproduce the issue.

[2022-11-18 20:28] alicewriteswrongs commented on #3831
@jgroth ah sorry that it broke a common pattern you all are using. Part of the sticky bit with this issue is that we need to do some discovery work to figure out exactly the right way to address this — this doesn't mean that it will take eons to address, but just that at present I don't have a clear roadmap of exactly how we'll fix it in my head, so I can't commit to a specific timeline at present

[2022-11-21 13:08] saldomik commented on #3576
This problem is quite annoying, as you are not in full control of your application.
The solution proposed [here](https://github.com/ionic-team/stencil/issues/2829) seems effectively to work only when a peer dependency is not a stencil project. If you have a library A made in Stencil that uses another library B marked as peer dependecy, also made with Stencil, the output of library B will always en

[2022-11-23 08:01] #3739 closed

[2022-11-24 03:36] GuoJikun opened #3862 "feat: The generate command adds options to skip the selection of generated files."
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/create-stencil/issues) that already include this feature request, with

[2022-11-24 08:28] mayerraphael opened #3843 "feat: Allow "slotAssignment: 'manual'""
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already include this feature request, without suc

[2022-11-28 14:54] dutscher commented on #3578
i stuck now in the same situation. i need the docs-json for storybook docs and in dev-mode it isn't possible to generate the docs-json.
its only possible to run `stencil build --docs-json docs.json` before `stencil build --dev --watch` to get the infos in dev-mode.
is it possible to get this fixxed?

cheers

[2022-11-28 17:34] bsastregx commented on #3413
Hi @alicewriteswrongs.
Hope you are doing well.

I don't want to a dense guy here, but we are running an important project which is currently built on top of stenciljs.
We love Stencil, and we do not want to switch to another tool, but unfortunatelly, the current bug detailed in this discussion leaves us no other choice. If we could know a rough ETA for this bug to be fixed, we could be able to ma

[2022-11-28 18:32] rwaskiewicz commented on #3252
This appears to have been completed as a part of https://github.com/wappalyzer/wappalyzer/pull/6557.

[2022-11-28 18:32] #3252 closed

[2022-11-29 01:38] adiandroo opened #3853 "Error: connect ECONNREFUSED in e2e test"
Hello, I'm having trouble on e2e test on GitHub CI run on production, it gives me this error
[code]
My version on stencil is v2.5.2

My dependencies version
[code]

The problem is in my local unit test is all is passed but in the production is give me this error on github CI run.

[2022-11-29 12:55] rwaskiewicz commented on #3853
Hey @adiandroo,

Can you please create a minimal reproduction case that demonstrates this issue? Unfortunately, there are too many variables here for the Stencil team to try to recreate the reported issue. Thanks!

[2022-11-29 13:00] rwaskiewicz commented on #3843
Thanks @mayerraphael, I'm going to label this to get it ingested into our backlog. If I recall correctly, not all modern browsers support `.assign()` (although `attachShadow#slotAssignment: boolean` should be), and would need to be something we work through

[2022-11-29 16:13] andrew9994 opened #3855 "bug: jest takes --max-workers as a file pattern when it is not specified and a pattern is provided"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-11-29 16:23] rwaskiewicz commented on #3855
Hey @andrew9994 :wave:

We've added https://github.com/ionic-team/stencil/pull/3827 since the commit you linked in:

which sounds very much like the issue you're seeing.

Can you please add a minimal reproduction URL for the team to look at?  Thanks!

[2022-11-29 16:29] andrew9994 commented on #3855
Sorry, I noticed that it was fixed already in https://github.com/ionic-team/stencil/commit/eb440602d79396eebbf3f8a509f60f3e03417440, but it is not yet released.

[2022-11-29 16:29] #3855 closed

[2022-11-29 16:30] rwaskiewicz commented on #3785
Closing, as we received feedback from the Framework team that https://github.com/ionic-team/ionic-framework/pull/26320 resolved the issue

[2022-11-29 16:30] #3785 closed

[2022-11-29 16:32] rwaskiewicz commented on #3855
Ah, not a problem!

[2022-11-29 16:33] andrew9994 commented on #3855
Thanks @rwaskiewicz !

[2022-11-29 16:49] venkatesh-nagineni opened #3856 "bug: shadowRoot gets removed by prototype overwrite from third party scripts"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/ionic-team/stencil/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/ionic-team/stencil/blob/main/CODE_OF_CONDUCT.md).
- [X] I have searched for [existing issues](https://github.com/ionic-team/stencil/issues) that already report this problem, without success.

##

[2022-11-29 18:36] nathan2slime commented on #1675
Same thing happened here, I added `import 'ionicons';` in `src/index.ts`, but ion-icon doesn't render an icon, just a div

[2022-11-30 04:13] vaibhavshn commented on #3607
I've been debugging this issue.

Only place i could find which still references it is the `hostRefs` weakmap.
Although the `$hostElement$` and the `$lazyInstance` are set as key in this weakmap, there are still references to this key in the value object.

And as per MDN:

This might be preventing the nodes from being garbage collected.
an image of the `hostRefs` object, even after the my-test comp

[2022-11-30 04:15] vaibhavshn commented on #3158
Have added details about possible memory leak (DOM nodes not being cleaned up) in this issue: https://github.com/ionic-team/stencil/issues/3607#issuecomment-1331622222

[2022-11-30 04:19] vaibhavshn commented on #3607
We've seen this memory leak affect our application when we've unmounted a lot of elements, especially things such as tooltips, chat messages are used extensively throughout the app.

[2022-11-30 11:32] joewoodhouse commented on #3607
@vaibhavshn Nice work, let me know if you need any help. @tanner-reits has there been any internal investigation on this one? Still causing us problems

[2022-11-30 21:00] alicewriteswrongs commented on #3607
@vaibhavshn thanks for digging into this! It looks like we've got a circular reference between the key and the value within the `WeakMap` which would I think prevent the key from ever being garbage collected, since the reference to the key held by the value (under `$hostElement$`) is going to be a strong reference :( so even if it's not referenced anywhere else (e.g. it has been removed from the D